@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 400;
  /* the Optima local to iOS doesn't have ligatures */
  src: url('../font/Optima-Regular.woff') format('woff'), local('Optima Regular'), local('Optima-Regular');
  font-display: swap;
}
@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Optima-Bold.woff') format('woff'), local('Optima Bold'), local('Optima-Bold');
  font-display: swap;
}
