@font-face {
  font-family: 'Scala Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/ScalaSans.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Scala Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/ScalaSans-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Scala Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../font/ScalaSans-Italic.woff') format('woff');
  font-display: swap;
}
