div.site_alert {
  position: fixed;
  bottom: 10px;
  &.bottom {
    bottom: 20px;
  }
  left: 10px;
  min-width: 90px;
  max-width: 300px;
  padding: 1rem 1.25rem;
  background: #fff;
  border: 1px solid #bbb;
  color: #333;
  border-radius: 4px;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.06);
  line-height: 1.2;
  z-index: 1;
  font-size: 0.86rem;
  @media(max-width: 650px) {
  line-height: 1.3;
    font-size: 0.8rem;
  }
  div.close {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 0;
    padding: 0.5rem 0.8rem;
    line-height: 1;
    font-size: 1rem;
    text-align: center;
  }
  div.body {
    margin-top: 0.3rem;
    a {
      border-bottom: 1px dotted #333;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid;
      }
    }
  }
  div.title {
    font-weight: bold;
  }
}
