@charset "UTF-8";
@font-face {
  font-family: "Scala Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../font/ScalaSans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Scala Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../font/ScalaSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Scala Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../font/ScalaSans-Italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  /* the Optima local to iOS doesn't have ligatures */
  src: url("../font/Optima-Regular.woff") format("woff"), local("Optima Regular"), local("Optima-Regular");
  font-display: swap;
}
@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Optima-Bold.woff") format("woff"), local("Optima Bold"), local("Optima-Bold");
  font-display: swap;
}
#loading-bar, #loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active, #loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave, #loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #68b7d8;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: 0.45;
  -moz-box-shadow: #68b7d8 1px 0 6px 1px;
  -ms-box-shadow: #68b7d8 1px 0 6px 1px;
  -webkit-box-shadow: #68b7d8 1px 0 6px 1px;
  box-shadow: #68b7d8 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-top-color: #68b7d8;
  border-left-color: #68b7d8;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga" on;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: slashed-zero;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  font-kerning: normal;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
}

a.btn, input[type=submit], button {
  font-family: "Scala Sans", "Gill Sans", sans-serif;
  align-items: center;
  vertical-align: middle;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  border: 1px solid #c3c3c3;
  border-radius: 4px !important;
  -webkit-appearance: none;
}
a.btn:hover, input[type=submit]:hover, button:hover {
  color: #181818;
  border: 1px solid #838383;
}
a.btn.active, a.btn:focus, a.btn:active, input[type=submit].active, input[type=submit]:focus, input[type=submit]:active, button.active, button:focus, button:active {
  outline: none;
  color: #181818;
}
a.btn.active, a.btn:active, input[type=submit].active, input[type=submit]:active, button.active, button:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
a.btn:disabled, input[type=submit]:disabled, button:disabled {
  cursor: not-allowed;
  color: #aaa;
  text-decoration: line-through;
}
a.btn.dangerous, input[type=submit].dangerous, button.dangerous {
  color: #c00;
  border-color: #c00;
}
a.btn.dangerous.active, a.btn.dangerous:active, input[type=submit].dangerous.active, input[type=submit].dangerous:active, button.dangerous.active, button.dangerous:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(204, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(204, 0, 0, 0.125);
}
a.btn.no_action:not(:active), a.btn.progress:not(:active), input[type=submit].no_action:not(:active), input[type=submit].progress:not(:active), button.no_action:not(:active), button.progress:not(:active) {
  border-color: #fff;
}
a.btn.progress, input[type=submit].progress, button.progress {
  cursor: progress;
  opacity: 0.5;
}

.dangerous {
  color: #c00 !important;
  border-color: #c00 !important;
}

.ext {
  cursor: alias !important;
}

a.ext.btn {
  cursor: alias;
}

.pnt {
  cursor: pointer;
}

input {
  width: auto;
  word-wrap: normal;
}

select, textarea, input[type=number], input[type=time], input[type=date], input[type=datetime-local], input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  border: none;
  outline: none;
  padding: 4px 6px;
  -webkit-overflow-scrolling: touch;
}

input[type=number], input[type=time], input[type=date], input[type=datetime-local], input[type=url], input[type=text], input[type=email], input[type=password], input[type=tel] {
  width: 90%;
  height: 15px;
  box-shadow: none;
  border-bottom: 1px solid #c3c3c3;
}
input[type=number]:hover, input[type=number]:active, input[type=number]:focus, input[type=time]:hover, input[type=time]:active, input[type=time]:focus, input[type=date]:hover, input[type=date]:active, input[type=date]:focus, input[type=datetime-local]:hover, input[type=datetime-local]:active, input[type=datetime-local]:focus, input[type=url]:hover, input[type=url]:active, input[type=url]:focus, input[type=text]:hover, input[type=text]:active, input[type=text]:focus, input[type=email]:hover, input[type=email]:active, input[type=email]:focus, input[type=password]:hover, input[type=password]:active, input[type=password]:focus, input[type=tel]:hover, input[type=tel]:active, input[type=tel]:focus {
  border-bottom: 1px solid #838383;
}
input[type=number].highlight, input[type=time].highlight, input[type=date].highlight, input[type=datetime-local].highlight, input[type=url].highlight, input[type=text].highlight, input[type=email].highlight, input[type=password].highlight, input[type=tel].highlight {
  background: #fff49b !important;
}

input[type=file] {
  background: none;
  padding: 4px;
  width: auto;
  max-width: 280px;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: none !important;
}

input.disabled {
  cursor: not-allowed;
  color: #aaa;
  background: #efefef;
}

select {
  height: 27px;
  border: 1px solid #c3c3c3;
  border-radius: none;
  -webkit-border-radius: none;
}
select:hover, select:active {
  border: 1px solid #838383;
}
select:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

textarea {
  box-shadow: none;
  border: 1px solid #c3c3c3;
  hyphens: none;
  width: 90%;
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: pre-wrap;
}
textarea:hover, textarea:active {
  border: 1px solid #838383;
}
textarea.fixed_rows {
  overflow: auto;
  resize: none;
  scrollbar-width: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a.btn, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input, textarea, select {
  border-radius: 0px !important;
}

a.btn, button, input, textarea, select {
  background: #fff;
  font-family: "Scala Sans", "Gill Sans", sans-serif;
  -webkit-transition: background-color 0.15s, border 0.15s, box-shadow 0.15s;
  -moz-transition: background-color 0.15s, border 0.15s, box-shadow 0.15s;
  transition: background-color 0.15s, border 0.15s, box-shadow 0.15s;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  line-height: 130%;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  outline: none;
}

div.flex-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: left;
}
div.flex-group .flex-group-item {
  flex: 1 1 auto;
}
@media (max-width: 600px) {
  div.flex-group .flex-group-item + .flex-group-item {
    margin-top: 5px;
  }
}
div.flex-group .flex-group-item:nth-child(2n) {
  text-align: right;
}

div.flex_options {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: left;
}
div.flex_options div.flex_option {
  flex: 0 1 auto;
  width: 55px;
}
div.flex_options div.flex_option.btn_option {
  line-height: 180%;
}
div.flex_options div.flex_option.auto_width {
  width: auto;
  padding-left: 3px;
}
div.flex_options div.flex_option.border_right {
  border-right: 1px dotted #ccc;
  padding-right: 8px;
}
@media (max-width: 700px) {
  div.flex_options div.flex_option.mobile_non_auto {
    width: 160px;
  }
}

@media (max-width: 650px) {
  div.mobile-group + div.mobile-group {
    border-top: 1px dotted #888;
    margin-top: 15px;
    padding-top: 10px;
  }
}

div.settings_group {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
div.settings_group div.setting_title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
div.settings_group div.setting_title > span {
  border-bottom: 1px dotted #181818;
}
div.settings_group div.flex_options {
  border-left: 1px dotted #181818;
  padding: 0 1rem;
}
div.settings_group div.flex_options div.flex_option {
  line-height: 2;
  margin-right: 0.25rem;
}
div.settings_group div.flex_options div.flex_option span {
  cursor: pointer;
  padding: 2px 5px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background: #fff6;
}
div.settings_group div.flex_options div.flex_option span.white {
  background: #fff;
}
div.settings_group div.flex_options div.flex_option span.active {
  background-color: #fff;
  border-style: dashed;
  font-weight: bold;
}
div.settings_group div.flex_options div.flex_option span.active.black:before {
  content: "✓ ";
  font-size: 12px;
  color: #68b7d8;
}
div.settings_group div.flex_options div.flex_option span.active:not(.black) {
  background-color: #68b7d84d;
  border-color: royalblue;
}

form + form {
  border-top: 1px dashed #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}

.optional-group {
  border: 1px dashed #aaa;
  margin: 12px 0;
  border-radius: 4px;
  padding: 8px;
  position: relative;
}
.optional-group .group-details {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  background: #e5ffd9;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
}

.form-group:not(.no_margin) {
  margin-bottom: 10px;
}
.form-group p.input_help {
  margin-bottom: 4px;
  font-size: smaller !important;
  display: block;
  width: 90%;
}
.form-group p.input_help a:not(.ext) {
  cursor: pointer;
}
.form-group label, .form-group p.label {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  display: block;
}
@media (max-width: 600px) {
  .form-group label, .form-group p.label {
    font-size: 13px;
  }
}
.form-group label.special, .form-group p.label.special {
  background: #dedede;
}
.form-group label a:not(.ext), .form-group p.label a:not(.ext) {
  cursor: pointer;
}
.form-group label span.courant, .form-group p.label span.courant {
  font-weight: normal;
}
.form-group label span.courant:before, .form-group p.label span.courant:before {
  content: "(";
}
.form-group label span.courant:after, .form-group p.label span.courant:after {
  content: ") ";
}
.form-group select, .form-group textarea, .form-group input {
  display: inline-block;
  font-size: 14px;
}
@media (max-width: 600px) {
  .form-group select, .form-group textarea, .form-group input {
    font-size: 13px;
  }
}

.special-group {
  background: #efefef;
  padding: 8px 3px;
}
.special-group input[type=number], .special-group input[type=time], .special-group input[type=date], .special-group input[type=datetime-local], .special-group input[type=text], .special-group input[type=url], .special-group input[type=email], .special-group input[type=password], .special-group input[type=tel] {
  background: #efefef;
}

table {
  width: 100%;
  line-height: 110%;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 13px;
  border: 1px solid #ddd;
  border-collapse: separate;
  transition: background-color 0.15s ease-in-out;
}
table thead th {
  padding: 3px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
table thead th span.courant:before {
  font-weight: 400;
  content: " · ";
}
table thead th span.courant, table thead th span.courant * {
  font-size: 13px;
  font-weight: 400;
}
table thead th.sortable {
  background-image: url("../img/sort.gif");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 15px;
  background-size: 15px;
}
table thead th.left {
  text-align: left;
}
table thead th.right {
  text-align: right;
}
table tbody td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 3px;
  text-align: left;
  vertical-align: middle;
}
table tbody td.special_td {
  padding: 8px;
  background-color: #eee;
}
table tbody td.special_td div.form-group p, table tbody td.special_td input, table tbody td.special_td a.btn, table tbody td.special_td button {
  font-size: inherit !important;
}
table tbody td.special_td label {
  font-size: 12px;
}
table tbody td.key div.delete {
  margin-top: 1rem;
}
table tbody td div.extra_dose {
  margin-top: 4px;
}
table tbody td.expand_button {
  width: 68px;
}
table tbody td.no_value {
  color: #666;
}
table tbody td.right {
  text-align: right;
}
table tbody td.na {
  background-color: #eee;
  color: #aaa;
}
table tbody td.pad_vertical {
  padding-top: 7px;
  padding-bottom: 7px;
  white-space: nowrap;
}
@media (max-width: 650px) {
  table tbody td.pad_vertical {
    overflow-x: scroll;
  }
  table tbody td.pad_vertical a {
    font-size: 12px !important;
  }
}
table tbody td + td {
  border-left: 1px solid #ddd;
}
table tbody tr:last-child > td {
  border-bottom: none;
}

table:not(.no_hover) tbody > tr:not:nth-child(2n+1) > td, table:not(.no_hover) tbody tr:nth-child(2n+1) {
  background: #f6f6f6;
}
table:not(.no_hover) tbody tr td {
  transition: background-color 0.1s ease;
}
table:not(.no_hover) tbody tr:hover td {
  background: #f0f0f0;
}

table tr.grey {
  background-color: #555;
}
table tr.is_active {
  font-weight: bold;
}
table tr.highlight {
  background-color: #eee;
}
table tr.highlight a.btn {
  background-color: #eee;
  border-color: #888;
}
table tr.highlight:hover td {
  background-color: #eee;
}
table tr.highlight table {
  border-color: #888;
}
table tr.highlight table tbody td {
  border-color: #888;
}
table tr.highlight table:not(.no_hover) tbody tr:hover td {
  background-color: inherit;
  opacity: 0.6;
}

tt, code, .code, pre {
  background: #fafafa !important;
  padding: 1px 4px;
}

pre.wrap {
  white-space: pre-wrap;
}

pre.code {
  border-radius: 4px;
  display: block;
  margin-bottom: 2em;
}

.centre {
  text-align: center;
}

.no_wrap, .nowrap {
  white-space: nowrap;
  hyphens: none;
}

.akz {
  font-family: "Akzidenz Grotesk", "Univers", "Helvetica", sans-serif;
}

.guillemets:before {
  content: "« ";
}

.guillemets:after {
  content: " »";
}

div.site_alert {
  position: fixed;
  bottom: 10px;
  left: 10px;
  min-width: 90px;
  max-width: 300px;
  padding: 1rem 1.25rem;
  background: #fff;
  border: 1px solid #bbb;
  color: #333;
  border-radius: 4px;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.06);
  line-height: 1.2;
  z-index: 1;
  font-size: 0.86rem;
}
div.site_alert.bottom {
  bottom: 20px;
}
@media (max-width: 650px) {
  div.site_alert {
    line-height: 1.3;
    font-size: 0.8rem;
  }
}
div.site_alert div.close {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0.5rem 0.8rem;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
}
div.site_alert div.body {
  margin-top: 0.3rem;
}
div.site_alert div.body a {
  border-bottom: 1px dotted #333;
  cursor: pointer;
}
div.site_alert div.body a:hover {
  border-bottom: 1px solid;
}
div.site_alert div.title {
  font-weight: bold;
}

body {
  font-family: "Scala Sans", "Gill Sans", sans-serif;
  color: #181818;
  line-height: 155%;
  margin: 0;
}
body.no_scroll {
  overflow-y: hidden;
}

div#dropdown_cover, div#menu_cover {
  background-color: transparent;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}

div#menu_cover {
  transition: background 0.5s;
  z-index: 0;
  display: block;
  background-color: #fff5;
}

code, pre, .monospace {
  font-family: "Courier", monospace;
}

.display {
  font-family: "Optima", "Linux Biolinum", sans-serif;
}

.mobile, .mobile_block {
  display: none !important;
}

.pc, .smcp {
  font-variant: petite-caps;
}

.tpc, .apc {
  font-variant: all-petite-caps;
}

.gras {
  font-weight: 700;
}

.grey {
  color: grey;
}

.sm:not(.btn):not(select) {
  font-size: smaller !important;
}

select.sm {
  padding: 2px;
}

.right {
  text-align: right;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.caret.active {
  border-bottom: 3px solid;
  border-top: none;
}

p, h1, h2, h3, h4, h5, ul, li {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Optima", "Linux Biolinum", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 90%;
}

ol {
  padding-left: 25px;
  margin-left: 0;
}

img {
  height: auto;
  margin: auto;
  max-width: 100%;
}

.g-recaptcha {
  transform: scale(0.75);
  transform-origin: 0 0;
}

img {
  height: auto;
  margin: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

ul.footnote {
  margin-left: 15px;
}
ul.footnote li {
  list-style: "*";
  padding-left: 5px;
  font-size: 13px;
  color: #333;
}
ul.footnote li.dagger {
  list-style: "†";
}
ul.footnote li.ddagger {
  list-style: "‡";
}
ul.footnote li p {
  font-size: 13px !important;
}

div.footnote {
  background-color: #efefef;
  padding: 8px 3px;
  margin-top: 1rem;
}

.bw {
  background: none;
  color: inherit;
}

.larger {
  font-size: 1.6em;
}

.center {
  text-align: center;
}

.no_hyphens {
  hyphens: none;
}

.ns {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

span.circle_letter, span.circle_number, span.circle_word {
  text-transform: none;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 2px;
  border: 1px dotted;
  text-align: center;
  border-radius: 10px;
  margin-right: 7px;
}

span.circle_word {
  width: auto;
  height: auto;
  margin-right: 0;
  font-family: "Scala Sans", "Gill Sans", sans-serif;
  background-color: #eee;
  padding: 2px 5px;
  border: none;
}
span.circle_word.no_height {
  padding: 1px 5px;
}
span.circle_word.success {
  background-color: #e5ffd9;
  border-color: #e5ffd9;
}
span.circle_word.warning {
  background-color: #fffdd9;
  border-color: #fffdd9;
}
span.circle_word.danger {
  background-color: #ffe8e8;
  border-color: #ffe8e8;
}
span.circle_word.numbers {
  font-family: "Courier", monospace;
  background-color: #68b7d84d;
  border: none;
  border-radius: 1rem;
  min-width: 8px;
}

@media (min-width: 720px) {
  tr span.circle_word:before {
    content: "•";
    padding-right: 3px;
    color: #888;
  }
}
tr.highlight span.circle_word {
  background-color: #fff;
}

span.circle_letter {
  font-style: italic;
  font-family: serif;
}

a.btn.img_prefix, button.img_prefix, input[type=submit].img_prefix {
  padding-left: 24px;
  text-align: left;
}
a.btn.img_prefix.download, button.img_prefix.download, input[type=submit].img_prefix.download {
  background: url("../img/download.svg") no-repeat 4px center;
  background-color: #fff;
  background-size: 15px;
}

div#appointment_chart_container {
  margin-top: 1rem;
  background-color: #eee;
  padding: 8px;
  padding-top: 1rem;
}

div.img_prefix {
  padding-left: 18px;
  text-align: left;
}
div.img_prefix.pad_left {
  margin-left: 10px;
}
div.img_prefix.astuce {
  background: url("../img/feed/ampoule.png") no-repeat left top;
  background-size: 1rem;
}
div.img_prefix.past {
  background: url("../img/past.png") no-repeat left center;
  background-size: 1rem;
}
div.img_prefix.pdf {
  background: url("../img/pdf.png") no-repeat left center;
  background-size: 1rem;
}
div.img_prefix.info {
  background: url("../img/info.png") no-repeat left center;
  background-size: 1rem;
}
div.img_prefix.db {
  background: url("../img/bd_coche.png") no-repeat left center;
  background-size: 1rem;
}
div.img_prefix.db_delete {
  background: url("../img/bd_supprimer.png") no-repeat left center;
  background-size: 1rem;
}
div.img_prefix.img {
  background: url("../img/img_file.png") no-repeat left center;
  background-size: 1rem;
}
div.img_prefix.equaliser {
  background: url("../img/eq.gif") no-repeat left center;
  background-size: 12px 12px;
}
div.img_prefix.play {
  background: url("../img/ligne.png") no-repeat left center;
  background-size: 12px 12px;
}
div.img_prefix.search_user {
  background: url("../img/search.png") no-repeat left center;
  background-size: 1rem;
}

ul li.img_prefix, ol li.img_prefix {
  list-style: none;
  margin-bottom: 5px;
}
ul li.img_prefix::before, ol li.img_prefix::before {
  display: inline-block;
  content: "";
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: left top;
  margin-right: 6px;
}
ul li.img_prefix.phone::before, ol li.img_prefix.phone::before {
  background-image: url("../img/portable.png");
}
ul li.img_prefix.email::before, ol li.img_prefix.email::before {
  background-image: url("../img/email.png");
}

div#loupe, div#search {
  position: fixed;
  height: 38px;
  bottom: 20px;
  border-radius: 19px;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 3;
}

div#search {
  border-color: #ccc;
  right: 34px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 30px;
}
div#search form {
  margin: 0;
  padding: 0;
  height: 100%;
}
div#search input {
  border-bottom: none;
  background: none;
  padding: 0;
  padding-left: 14px;
  min-width: 200px;
  height: 100%;
  font-size: 14px;
}
div#search.enter_more:before, div#search.click_search:before, div#search.searched:before {
  content: "Please keep typing (case-sensitive).";
  position: absolute;
  top: -2.2rem;
  background-color: #fff49b;
  padding: 0px 5px;
  font-size: 13px;
  border-radius: 14px;
  border: 1px solid #ddd;
}
div#search.click_search:before {
  content: "Click ‘search’ to filter all lists.";
}
div#search.search:before {
  content: "Click ‘×’  to remove the filter.";
}

div#loupe {
  right: 15px;
  width: 38px;
  cursor: pointer;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.06);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 50% 50%;
  transition: box-shadow ease 0.2s, border ease 0.2s;
}
div#loupe.active {
  border-color: #ccc;
  background-image: url("../img/cancel.svg");
}
div#loupe:hover {
  border-color: #ccc;
}
div#loupe:hover:not(.active) {
  box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.12);
}

header {
  max-width: 1000px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  z-index: 4;
  height: 75px;
  position: fixed;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  padding-top: 3px;
  border-bottom: 1px solid #ccc;
  background-color: #fffe;
}
@media (max-width: 1000px) {
  header {
    border-bottom: 1px solid #ddd;
    background-image: linear-gradient(#eee 50%, rgba(255, 255, 255, 0.5));
    background-color: #eee;
  }
}
header:hover div#nav-wrap a, header:hover div#nav-right a, header:hover div#nav-right div.dropdown_title:not(.active) {
  opacity: 0.6;
}
header div#nav-wrap, header div#nav-right {
  font-size: 0.9rem;
}
header div#nav-header, header div#nav-wrap, header div#nav-right {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 130%;
  font-family: "Optima", "Linux Biolinum", sans-serif;
}
header div#nav-header a.active, header div#nav-wrap a.active, header div#nav-right a.active {
  opacity: 1;
  font-weight: 700;
}
header div#nav-header a.active:hover, header div#nav-wrap a.active:hover, header div#nav-right a.active:hover {
  cursor: not-allowed;
}
header div#nav-header a.back:before, header div#nav-wrap a.back:before, header div#nav-right a.back:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23181818%%22%20d%3D%22M49.6%2030H19.3L30%2019.4c.8-.8.8-2%200-2.8-.8-.8-2-.8-2.8%200L11.6%2032l15.7%2015.4c.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6.8-.8.8-2.1%200-2.8L19.3%2034h30.3c1.1%200%202-.9%202-2s-.9-2-2-2z%22%2F%3E%3C%2Fsvg%3E");
  width: 22px;
  display: inline-block;
  height: 19px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  content: "";
  vertical-align: top;
}
@media (max-width: 650px) {
  header div#nav-header a.back:before, header div#nav-wrap a.back:before, header div#nav-right a.back:before {
    height: 16px;
  }
}
header div#nav-header div#account_dropdown, header div#nav-wrap div#account_dropdown, header div#nav-right div#account_dropdown {
  display: none;
  right: 12px;
  top: 65px;
  position: absolute;
  max-width: 300px;
  min-width: 115px;
  z-index: 99;
}
header div#nav-header div#account_dropdown ul, header div#nav-wrap div#account_dropdown ul, header div#nav-right div#account_dropdown ul {
  box-shadow: 0 1.5rem 4rem rgba(6, 8, 15, 0.15);
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbb;
}
header div#nav-header div#account_dropdown ul li, header div#nav-wrap div#account_dropdown ul li, header div#nav-right div#account_dropdown ul li {
  padding: 0px 6px;
  font-family: "Scala Sans", "Gill Sans", sans-serif;
  font-size: 14px;
  text-align: right;
}
header div#nav-header div#account_dropdown ul li:not(:last-child), header div#nav-wrap div#account_dropdown ul li:not(:last-child), header div#nav-right div#account_dropdown ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
header div#nav-header div#account_dropdown ul li:first-child, header div#nav-header div#account_dropdown ul li:last-child, header div#nav-wrap div#account_dropdown ul li:first-child, header div#nav-wrap div#account_dropdown ul li:last-child, header div#nav-right div#account_dropdown ul li:first-child, header div#nav-right div#account_dropdown ul li:last-child {
  font-size: 13px;
  background-color: #eee;
  text-align: center;
  padding: 8px 6px;
}
header div#nav-header div#account_dropdown ul li:first-child, header div#nav-wrap div#account_dropdown ul li:first-child, header div#nav-right div#account_dropdown ul li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
header div#nav-header div#account_dropdown ul li:last-child, header div#nav-wrap div#account_dropdown ul li:last-child, header div#nav-right div#account_dropdown ul li:last-child {
  cursor: pointer;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
header div#nav-header div#account_dropdown ul li.super_priv, header div#nav-wrap div#account_dropdown ul li.super_priv, header div#nav-right div#account_dropdown ul li.super_priv {
  background-color: #68b7d824;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 7px 50%;
  background-image: url("../img/couronne.png");
  padding-left: 28px;
}
header div#nav-header div#account_dropdown ul li a, header div#nav-wrap div#account_dropdown ul li a, header div#nav-right div#account_dropdown ul li a {
  opacity: 1;
  display: inline-block;
  padding: 0px;
  width: 100%;
  height: 35px;
  line-height: 35px;
}
header div#nav-header div.dropdown_title, header div#nav-wrap div.dropdown_title, header div#nav-right div.dropdown_title {
  cursor: pointer;
}
header div#nav-header div.dropdown_title.active, header div#nav-wrap div.dropdown_title.active, header div#nav-right div.dropdown_title.active {
  opacity: 1;
}
header div#nav-header a, header div#nav-header div.dropdown_title, header div#nav-wrap a, header div#nav-wrap div.dropdown_title, header div#nav-right a, header div#nav-right div.dropdown_title {
  display: inline-block;
  padding: 0.8rem 1rem 1.2rem 1rem;
  opacity: 0.4;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
header div#nav-header a:hover, header div#nav-header div.dropdown_title:hover, header div#nav-wrap a:hover, header div#nav-wrap div.dropdown_title:hover, header div#nav-right a:hover, header div#nav-right div.dropdown_title:hover {
  opacity: 1;
}
header div#nav-header {
  flex-basis: 100%;
}
header div#nav-header h1 {
  width: 100%;
  font-size: 85%;
  font-weight: 700;
  color: #181818;
  padding: 6px 4px 0px 1rem;
  line-height: 1;
}
header div#nav-header h1 span.app_icon {
  font-family: "Optima", "Linux Biolinum", sans-serif;
  background: url("../img/pfd-480.png") no-repeat;
  background-position: 0% 50%;
  background-size: 12px 12px;
  padding-left: 18px;
}

article {
  width: 100%;
  padding: 0;
}
article:not(.no_header) {
  margin-top: 110px;
}
article:not(.no_footer) {
  margin-bottom: 80px;
}
article.no_footer {
  margin-bottom: 8rem;
}
article div.feeds {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
article a:not(.btn), article span.a {
  cursor: pointer;
  border-bottom: 1px dotted #999;
  color: inherit;
  line-height: 130%;
}
article a:not(.btn):hover, article a:not(.btn):active, article span.a:hover, article span.a:active {
  border-bottom: 1px solid #999;
  text-decoration: none;
}
article div.error:not(.special-group), article div.valid:not(.special-group), article div.warning:not(.special-group), article div.success:not(.special-group) {
  padding: 6px 3px;
}
article div.error {
  background-color: #ffeaea;
}
article div.valid {
  background-color: #efefef;
}
article div.special-group div.valid {
  background-color: #dedede;
}
article div.success {
  background-color: #e5ffd9;
}
article div.warning {
  background-color: #fff49b;
}
article div.warning button, article div.warning input[type=submit] {
  background-color: #fff49b;
  border-color: #999;
}
article div.warning button.active, article div.warning button:active, article div.warning input[type=submit].active, article div.warning input[type=submit]:active {
  box-shadow: inset 0 3px 5px #ff3;
  -webkit-box-shadow: inset 0 3px 5px #ff3;
}
article a.btn, article button {
  font-size: 14px;
}
@media (max-width: 600px) {
  article a.btn, article button {
    font-size: 13px;
  }
}
article a.btn.sm, article button.sm {
  padding: 3px 4px;
}
article a.btn.smsm, article button.smsm {
  padding: 0 2px;
  line-height: 1.5;
}
article a.btn.success, article button.success {
  background-color: #e5ffd9;
  border-color: #019b01;
  color: #019b01;
}
article label.inline_label {
  display: inline;
}
article label.inline_label:not(.bold) {
  font-weight: 400;
}
article label.inline_label.bold {
  font-size: 90%;
}
article .trans_bg {
  background: none;
}
article div.tip {
  position: absolute;
  line-height: 100%;
  background-color: #fff;
  border: 1px dotted #aaa;
  z-index: 3;
  font-family: "Courier", monospace;
  font-size: 11px;
  max-width: 250px;
}
article div.tip div.wrap {
  padding: 2px;
}
article ul#feed, article ul#left_feed, article ul#events_feed, article div#left_menu {
  display: -webkit-box;
  display: flex;
  margin: auto;
  height: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
article ul#feed.today, article ul#feed.forms, article ul#feed.login, article ul#feed.admin, article ul#left_feed.today, article ul#left_feed.forms, article ul#left_feed.login, article ul#left_feed.admin, article ul#events_feed.today, article ul#events_feed.forms, article ul#events_feed.login, article ul#events_feed.admin {
  flex-flow: column wrap;
  align-items: flex-start;
  -webkit-align-items: center;
  align-content: center;
  justify-content: flex-start;
}
article ul#feed.today, article ul#left_feed.today, article ul#events_feed.today {
  margin: 0;
}
article ul#feed.athletics, article ul#feed.arts, article ul#feed.schedule, article ul#left_feed.athletics, article ul#left_feed.arts, article ul#left_feed.schedule, article ul#events_feed.athletics, article ul#events_feed.arts, article ul#events_feed.schedule {
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}
article ul#feed li.item, article ul#left_feed li.item, article ul#events_feed li.item {
  flex: 0 1 auto;
  width: 350px;
  min-height: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0.4rem;
  position: relative;
  background-color: #fff;
  transition: background 0.1s, border 0.1s;
}
article ul#feed li.item:not(.no_action), article ul#left_feed li.item:not(.no_action), article ul#events_feed li.item:not(.no_action) {
  cursor: default;
}
article ul#feed li.item.auto_width, article ul#left_feed li.item.auto_width, article ul#events_feed li.item.auto_width {
  width: auto;
}
article ul#feed li.item div.art_atrib, article ul#left_feed li.item div.art_atrib, article ul#events_feed li.item div.art_atrib {
  display: none;
}
article ul#feed li.item.no_results div.wrap div.blocks div.icon_block div.icon, article ul#left_feed li.item.no_results div.wrap div.blocks div.icon_block div.icon, article ul#events_feed li.item.no_results div.wrap div.blocks div.icon_block div.icon {
  background-image: url("../img/boite_vide.png");
}
article ul#feed li.item.error div.wrap div.blocks div.icon_block div.icon, article ul#left_feed li.item.error div.wrap div.blocks div.icon_block div.icon, article ul#events_feed li.item.error div.wrap div.blocks div.icon_block div.icon {
  background-image: url("../img/feed/error.png");
}
article ul#feed li.item.has_art div.title_block h4, article ul#left_feed li.item.has_art div.title_block h4, article ul#events_feed li.item.has_art div.title_block h4 {
  font-weight: bold;
}
@media (max-width: 600px) {
  article ul#feed li.item div.wrap div.admin_blocks div.title_block, article ul#left_feed li.item div.wrap div.admin_blocks div.title_block, article ul#events_feed li.item div.wrap div.admin_blocks div.title_block {
    line-height: 130% !important;
  }
  article ul#feed li.item div.wrap div.admin_blocks div.title_block h4, article ul#left_feed li.item div.wrap div.admin_blocks div.title_block h4, article ul#events_feed li.item div.wrap div.admin_blocks div.title_block h4 {
    font-size: 85%;
  }
}
@media (min-width: 651px) {
  article ul#feed li.item.has_art, article ul#left_feed li.item.has_art, article ul#events_feed li.item.has_art {
    width: 600px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  article ul#feed li.item.has_art div.wrap div.admin_blocks div.title_block, article ul#left_feed li.item.has_art div.wrap div.admin_blocks div.title_block, article ul#events_feed li.item.has_art div.wrap div.admin_blocks div.title_block {
    border-color: #555;
  }
  article ul#feed li.item.has_art.login_3, article ul#left_feed li.item.has_art.login_3, article ul#events_feed li.item.has_art.login_3 {
    color: #fff;
  }
  article ul#feed li.item.has_art.login_3 a, article ul#left_feed li.item.has_art.login_3 a, article ul#events_feed li.item.has_art.login_3 a {
    border-color: #fff;
  }
  article ul#feed li.item.has_art.login_3 div.wrap div.admin_blocks div.title_block, article ul#left_feed li.item.has_art.login_3 div.wrap div.admin_blocks div.title_block, article ul#events_feed li.item.has_art.login_3 div.wrap div.admin_blocks div.title_block {
    border-color: #fff;
  }
  article ul#feed li.item.has_art.login_3 div.art_atrib, article ul#left_feed li.item.has_art.login_3 div.art_atrib, article ul#events_feed li.item.has_art.login_3 div.art_atrib {
    color: #fff;
  }
  article ul#feed li.item.has_art.login_3, article ul#left_feed li.item.has_art.login_3, article ul#events_feed li.item.has_art.login_3 {
    background-color: #080907;
  }
  article ul#feed li.item.has_art.login_3 input.disabled, article ul#left_feed li.item.has_art.login_3 input.disabled, article ul#events_feed li.item.has_art.login_3 input.disabled {
    background-color: #666 !important;
    border: none !important;
  }
  article ul#feed li.item.has_art.login_3 div.error, article ul#left_feed li.item.has_art.login_3 div.error, article ul#events_feed li.item.has_art.login_3 div.error {
    background-color: #333;
  }
  article ul#feed li.item.has_art.fp, article ul#left_feed li.item.has_art.fp, article ul#events_feed li.item.has_art.fp {
    background-color: #eae2d4;
  }
  article ul#feed li.item.has_art.cp, article ul#left_feed li.item.has_art.cp, article ul#events_feed li.item.has_art.cp {
    background-color: #dfd67f;
  }
  article ul#feed li.item.has_art.recover, article ul#feed li.item.has_art.contact, article ul#feed li.item.has_art.delete_user, article ul#feed li.item.has_art.data, article ul#left_feed li.item.has_art.recover, article ul#left_feed li.item.has_art.contact, article ul#left_feed li.item.has_art.delete_user, article ul#left_feed li.item.has_art.data, article ul#events_feed li.item.has_art.recover, article ul#events_feed li.item.has_art.contact, article ul#events_feed li.item.has_art.delete_user, article ul#events_feed li.item.has_art.data {
    background-color: #fff;
  }
  article ul#feed li.item.has_art div.wrap, article ul#left_feed li.item.has_art div.wrap, article ul#events_feed li.item.has_art div.wrap {
    width: 100%;
  }
  article ul#feed li.item.has_art div.art, article ul#left_feed li.item.has_art div.art, article ul#events_feed li.item.has_art div.art {
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 420px;
  }
  article ul#feed li.item.has_art div.art.login_3, article ul#left_feed li.item.has_art div.art.login_3, article ul#events_feed li.item.has_art div.art.login_3 {
    width: 80%;
    background: url("../img/Sao-Paulo.jpg") no-repeat;
    background-size: cover;
  }
  article ul#feed li.item.has_art div.art.fp, article ul#left_feed li.item.has_art div.art.fp, article ul#events_feed li.item.has_art div.art.fp {
    width: 80%;
    background: url("../img/Sharaku-lecture-1794.jpg") no-repeat;
    background-size: cover;
  }
  article ul#feed li.item.has_art div.art.cp, article ul#left_feed li.item.has_art div.art.cp, article ul#events_feed li.item.has_art div.art.cp {
    width: 80%;
    background: url("../img/Saint-Jean-Gabriel-Malesskircher-1478.jpg") no-repeat;
    background-size: cover;
  }
  article ul#feed li.item.has_art div.art.contact, article ul#left_feed li.item.has_art div.art.contact, article ul#events_feed li.item.has_art div.art.contact {
    width: 80%;
    background: url("../img/Teheran.jpg") no-repeat;
    background-size: cover;
  }
  article ul#feed li.item.has_art div.art.delete_user, article ul#left_feed li.item.has_art div.art.delete_user, article ul#events_feed li.item.has_art div.art.delete_user {
    width: 80%;
    background: url("../img/Milan.jpg") no-repeat;
    background-size: cover;
  }
  article ul#feed li.item.has_art div.art.recover, article ul#left_feed li.item.has_art div.art.recover, article ul#events_feed li.item.has_art div.art.recover {
    width: 80%;
    background: url("../img/Paris.jpg") no-repeat;
    background-size: cover;
  }
  article ul#feed li.item.has_art div#collab_logo, article ul#left_feed li.item.has_art div#collab_logo, article ul#events_feed li.item.has_art div#collab_logo {
    height: 37px;
    width: 165.2px;
    background-image: url("../img/parker_x_foreword_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
  article ul#feed li.item div.art_atrib, article ul#left_feed li.item div.art_atrib, article ul#events_feed li.item div.art_atrib {
    display: block;
    position: absolute;
    bottom: 5px;
    line-height: 1.1;
    font-size: 12px;
    color: #444;
    padding-right: 3px;
  }
}
article ul#feed li.item.brand, article ul#left_feed li.item.brand, article ul#events_feed li.item.brand {
  border-color: #ed0000;
}
article ul#feed li.item div.wrap div.back, article ul#left_feed li.item div.wrap div.back, article ul#events_feed li.item div.wrap div.back {
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #ed0000;
  transition: background 0.1s;
  cursor: pointer;
  padding: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
article ul#feed li.item div.wrap div.back:hover, article ul#left_feed li.item div.wrap div.back:hover, article ul#events_feed li.item div.wrap div.back:hover {
  background-color: #c00;
}
article ul#feed li.item div.wrap div.back:active, article ul#left_feed li.item div.wrap div.back:active, article ul#events_feed li.item div.wrap div.back:active {
  font-style: italic;
}
article ul#feed li.item div.wrap div.back a.arrow.left:before, article ul#feed li.item div.wrap div.back span.arrow.left:before, article ul#left_feed li.item div.wrap div.back a.arrow.left:before, article ul#left_feed li.item div.wrap div.back span.arrow.left:before, article ul#events_feed li.item div.wrap div.back a.arrow.left:before, article ul#events_feed li.item div.wrap div.back span.arrow.left:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M49.6%2030H19.3L30%2019.4c.8-.8.8-2%200-2.8-.8-.8-2-.8-2.8%200L11.6%2032l15.7%2015.4c.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6.8-.8.8-2.1%200-2.8L19.3%2034h30.3c1.1%200%202-.9%202-2s-.9-2-2-2z%22%2F%3E%3C%2Fsvg%3E");
  background-position: 0% 50%;
  width: 26px;
}
article ul#feed li.item div.wrap div.back a.arrow.right:after, article ul#feed li.item div.wrap div.back span.arrow.right:after, article ul#left_feed li.item div.wrap div.back a.arrow.right:after, article ul#left_feed li.item div.wrap div.back span.arrow.right:after, article ul#events_feed li.item div.wrap div.back a.arrow.right:after, article ul#events_feed li.item div.wrap div.back span.arrow.right:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M36.8%2016.6c-.8-.8-2.1-.8-2.8%200-.8.8-.8%202.1%200%202.8L44.7%2030H14.4c-1.1%200-2%20.9-2%202s.9%202%202%202h30.3L34%2044.6c-.8.8-.8%202%200%202.8.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6L52.4%2032%2036.8%2016.6z%22%2F%3E%3C%2Fsvg%3E");
  background-position: 100% 50%;
  width: 26px;
}
article ul#feed li.item div.wrap div.back a.arrow:before, article ul#feed li.item div.wrap div.back a.arrow:after, article ul#feed li.item div.wrap div.back span.arrow:before, article ul#feed li.item div.wrap div.back span.arrow:after, article ul#left_feed li.item div.wrap div.back a.arrow:before, article ul#left_feed li.item div.wrap div.back a.arrow:after, article ul#left_feed li.item div.wrap div.back span.arrow:before, article ul#left_feed li.item div.wrap div.back span.arrow:after, article ul#events_feed li.item div.wrap div.back a.arrow:before, article ul#events_feed li.item div.wrap div.back a.arrow:after, article ul#events_feed li.item div.wrap div.back span.arrow:before, article ul#events_feed li.item div.wrap div.back span.arrow:after {
  display: inline-block;
  height: 24px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  content: "";
  vertical-align: top;
}
article ul#feed li.item div.wrap div.blocks, article ul#feed li.item div.wrap div.admin_blocks, article ul#left_feed li.item div.wrap div.blocks, article ul#left_feed li.item div.wrap div.admin_blocks, article ul#events_feed li.item div.wrap div.blocks, article ul#events_feed li.item div.wrap div.admin_blocks {
  padding: 8px;
}
article ul#feed li.item div.wrap div.blocks div.settings_group, article ul#feed li.item div.wrap div.admin_blocks div.settings_group, article ul#left_feed li.item div.wrap div.blocks div.settings_group, article ul#left_feed li.item div.wrap div.admin_blocks div.settings_group, article ul#events_feed li.item div.wrap div.blocks div.settings_group, article ul#events_feed li.item div.wrap div.admin_blocks div.settings_group {
  margin: 0;
}
article ul#feed li.item div.wrap div.blocks div.settings_group div.flex_options, article ul#feed li.item div.wrap div.admin_blocks div.settings_group div.flex_options, article ul#left_feed li.item div.wrap div.blocks div.settings_group div.flex_options, article ul#left_feed li.item div.wrap div.admin_blocks div.settings_group div.flex_options, article ul#events_feed li.item div.wrap div.blocks div.settings_group div.flex_options, article ul#events_feed li.item div.wrap div.admin_blocks div.settings_group div.flex_options {
  border-left: none;
  padding: 0;
  font-size: 13px;
}
article ul#feed li.item div.wrap div.admin_blocks div.title_block, article ul#left_feed li.item div.wrap div.admin_blocks div.title_block, article ul#events_feed li.item div.wrap div.admin_blocks div.title_block {
  line-height: 150%;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
article ul#feed li.item div.wrap div.admin_blocks div.title_block h4, article ul#left_feed li.item div.wrap div.admin_blocks div.title_block h4, article ul#events_feed li.item div.wrap div.admin_blocks div.title_block h4 {
  font-weight: bold;
}
article ul#feed li.item div.wrap div.admin_blocks div.detail_block, article ul#left_feed li.item div.wrap div.admin_blocks div.detail_block, article ul#events_feed li.item div.wrap div.admin_blocks div.detail_block {
  font-size: 15px;
  padding: 3px;
  margin-bottom: 5px;
  padding-bottom: 4px;
}
@media (max-width: 600px) {
  article ul#feed li.item div.wrap div.admin_blocks div.detail_block, article ul#left_feed li.item div.wrap div.admin_blocks div.detail_block, article ul#events_feed li.item div.wrap div.admin_blocks div.detail_block {
    font-size: 14px;
  }
}
article ul#feed li.item div.wrap div.admin_blocks div.detail_block p + p, article ul#left_feed li.item div.wrap div.admin_blocks div.detail_block p + p, article ul#events_feed li.item div.wrap div.admin_blocks div.detail_block p + p {
  margin-top: 5px;
}
article ul#feed li.item div.wrap div.admin_blocks div.detail_block.literary ul, article ul#feed li.item div.wrap div.admin_blocks div.detail_block.literary ol, article ul#left_feed li.item div.wrap div.admin_blocks div.detail_block.literary ul, article ul#left_feed li.item div.wrap div.admin_blocks div.detail_block.literary ol, article ul#events_feed li.item div.wrap div.admin_blocks div.detail_block.literary ul, article ul#events_feed li.item div.wrap div.admin_blocks div.detail_block.literary ol {
  margin-top: 0.5rem;
}
article ul#feed li.item div.wrap div.blocks div.icon_block, article ul#left_feed li.item div.wrap div.blocks div.icon_block, article ul#events_feed li.item div.wrap div.blocks div.icon_block {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
article ul#feed li.item div.wrap div.blocks div.icon_block div.icon, article ul#left_feed li.item div.wrap div.blocks div.icon_block div.icon, article ul#events_feed li.item div.wrap div.blocks div.icon_block div.icon {
  width: 15px;
  background-position: 5% 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  position: absolute;
  left: 8px;
  top: 8px;
}
article ul#feed li.item div.wrap div.blocks div.text_block, article ul#left_feed li.item div.wrap div.blocks div.text_block, article ul#events_feed li.item div.wrap div.blocks div.text_block {
  margin-left: 23px;
  line-height: 110%;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  min-width: 310px;
}
@media (max-width: 600px) {
  article ul#feed li.item div.wrap div.blocks div.text_block, article ul#left_feed li.item div.wrap div.blocks div.text_block, article ul#events_feed li.item div.wrap div.blocks div.text_block {
    font-size: 13px;
  }
}
article ul#feed li.item div.wrap div.blocks div.text_block.sched_block, article ul#left_feed li.item div.wrap div.blocks div.text_block.sched_block, article ul#events_feed li.item div.wrap div.blocks div.text_block.sched_block {
  display: block;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.more_indicator, article ul#left_feed li.item div.wrap div.blocks div.text_block div.more_indicator, article ul#events_feed li.item div.wrap div.blocks div.text_block div.more_indicator {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.footer, article ul#left_feed li.item div.wrap div.blocks div.text_block div.footer, article ul#events_feed li.item div.wrap div.blocks div.text_block div.footer {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 11px;
  font-variant: all-petite-caps;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px dashed #ccc;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li {
  font-size: 13px;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.location, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.location, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.location {
  background: url("../img/location.png") no-repeat left center;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.team, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.team, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.team {
  background: url("../img/team.png") no-repeat left center;
  text-transform: capitalize;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.time, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.time, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.time {
  background: url("../img/bell.png") no-repeat left center;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.clock, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.clock, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.clock {
  background: url("../img/clock.png") no-repeat left center;
}
article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.location, article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.time, article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.clock, article ul#feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.team, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.location, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.time, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.clock, article ul#left_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.team, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.location, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.time, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.clock, article ul#events_feed li.item div.wrap div.blocks div.text_block ul.event_metadata li.team {
  background-size: 10px 10px;
  padding-left: 14px;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule {
  flex: 1 1 50%;
  text-align: center;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.title, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.title, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.title {
  padding: 3px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 120%;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.image, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.image, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.image {
  padding: 3px;
  margin-top: 5px;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.image img, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.image img, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule div.image img {
  width: 70%;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule + div.schedule, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule + div.schedule, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.schedule + div.schedule {
  border-left: 1px dashed #ccc;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.title, article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.title, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.title, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select {
  text-align: left;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select {
  padding: 6px 2px;
}
article ul#feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select + div.select, article ul#left_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select + div.select, article ul#events_feed li.item div.wrap div.blocks div.text_block div.schedules div.picker div.select + div.select {
  border-top: 1px dotted #ccc;
}
article ul#feed li.item div.float_highlight, article ul#left_feed li.item div.float_highlight, article ul#events_feed li.item div.float_highlight {
  display: none;
}
article ul#feed li.item.happens_today, article ul#left_feed li.item.happens_today, article ul#events_feed li.item.happens_today {
  overflow: hidden;
}
article ul#feed li.item.happens_today div.float_highlight, article ul#left_feed li.item.happens_today div.float_highlight, article ul#events_feed li.item.happens_today div.float_highlight {
  display: block;
  position: absolute;
  top: 0px;
  left: -5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff3e3e38;
  filter: blur(5px);
}
article ul#feed li.item.custom_colour div.wrap div.blocks div.more table, article ul#left_feed li.item.custom_colour div.wrap div.blocks div.more table, article ul#events_feed li.item.custom_colour div.wrap div.blocks div.more table {
  border-color: #888;
}
article ul#feed li.item.custom_colour div.wrap div.blocks div.more table tbody td, article ul#left_feed li.item.custom_colour div.wrap div.blocks div.more table tbody td, article ul#events_feed li.item.custom_colour div.wrap div.blocks div.more table tbody td {
  border-color: #888;
}
article ul#feed li.item.custom_colour div.wrap div.blocks div.more table:not(.no_hover) tbody tr:hover td, article ul#left_feed li.item.custom_colour div.wrap div.blocks div.more table:not(.no_hover) tbody tr:hover td, article ul#events_feed li.item.custom_colour div.wrap div.blocks div.more table:not(.no_hover) tbody tr:hover td {
  background: inherit;
  opacity: 0.6;
}
article ul#feed li.item.custom_colour div.wrap div.blocks div.text_block ul.event_metadata, article ul#left_feed li.item.custom_colour div.wrap div.blocks div.text_block ul.event_metadata, article ul#events_feed li.item.custom_colour div.wrap div.blocks div.text_block ul.event_metadata {
  border-top: 1px dashed #181818;
}
article ul#feed li.item:not(.no_action):hover, article ul#feed li.item:not(.no_action):focus, article ul#left_feed li.item:not(.no_action):hover, article ul#left_feed li.item:not(.no_action):focus, article ul#events_feed li.item:not(.no_action):hover, article ul#events_feed li.item:not(.no_action):focus {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
}
article ul#feed li.item:not(.no_action):active, article ul#left_feed li.item:not(.no_action):active, article ul#events_feed li.item:not(.no_action):active {
  background-color: #f6f6f6;
  border: 1px solid #999;
}
article ul#feed li.item.return_flash, article ul#left_feed li.item.return_flash, article ul#events_feed li.item.return_flash {
  border-color: #ed0000 !important;
}
article ul#feed li.item.flashed div.admin_blocks div.title_block, article ul#feed li.item.error div.admin_blocks div.title_block, article ul#left_feed li.item.flashed div.admin_blocks div.title_block, article ul#left_feed li.item.error div.admin_blocks div.title_block, article ul#events_feed li.item.flashed div.admin_blocks div.title_block, article ul#events_feed li.item.error div.admin_blocks div.title_block {
  border-color: #181818 !important;
}
article ul#feed li.item.flashed div.admin_blocks a, article ul#feed li.item.error div.admin_blocks a, article ul#left_feed li.item.flashed div.admin_blocks a, article ul#left_feed li.item.error div.admin_blocks a, article ul#events_feed li.item.flashed div.admin_blocks a, article ul#events_feed li.item.error div.admin_blocks a {
  border-color: #181818;
}
article ul#feed li.item.flashed, article ul#feed li.item.error, article ul#left_feed li.item.flashed, article ul#left_feed li.item.error, article ul#events_feed li.item.flashed, article ul#events_feed li.item.error {
  box-shadow: none;
}
article ul#feed li.item.flashed div.admin_blocks div.detail_block, article ul#feed li.item.error div.admin_blocks div.detail_block, article ul#left_feed li.item.flashed div.admin_blocks div.detail_block, article ul#left_feed li.item.error div.admin_blocks div.detail_block, article ul#events_feed li.item.flashed div.admin_blocks div.detail_block, article ul#events_feed li.item.error div.admin_blocks div.detail_block {
  margin: 0 !important;
  padding: 0 !important;
}
article ul#feed li.item.flashed a, article ul#feed li.item.flashed a:hover, article ul#feed li.item.flashed a:active, article ul#feed li.item.error a, article ul#feed li.item.error a:hover, article ul#feed li.item.error a:active, article ul#left_feed li.item.flashed a, article ul#left_feed li.item.flashed a:hover, article ul#left_feed li.item.flashed a:active, article ul#left_feed li.item.error a, article ul#left_feed li.item.error a:hover, article ul#left_feed li.item.error a:active, article ul#events_feed li.item.flashed a, article ul#events_feed li.item.flashed a:hover, article ul#events_feed li.item.flashed a:active, article ul#events_feed li.item.error a, article ul#events_feed li.item.error a:hover, article ul#events_feed li.item.error a:active {
  border-color: inherit !important;
}
article ul#feed li.item.flashed, article ul#left_feed li.item.flashed, article ul#events_feed li.item.flashed {
  background-color: #fff;
  color: #181818;
}
article ul#feed li.item.error, article ul#left_feed li.item.error, article ul#events_feed li.item.error {
  background: #ffeaea;
  border-color: #cc2b2b !important;
  color: #cc2b2b;
}
@media (min-width: 1000px) {
  article ul#feed:not(article ul#feed.admin, article ul#left_feed.admin, article ul#events_feed.admin) li.item, article ul#feed:not(article ul#feed.login, article ul#left_feed.login, article ul#events_feed.login) li.item, article ul#left_feed:not(article ul#feed.admin, article ul#left_feed.admin, article ul#events_feed.admin) li.item, article ul#left_feed:not(article ul#feed.login, article ul#left_feed.login, article ul#events_feed.login) li.item, article ul#events_feed:not(article ul#feed.admin, article ul#left_feed.admin, article ul#events_feed.admin) li.item, article ul#events_feed:not(article ul#feed.login, article ul#left_feed.login, article ul#events_feed.login) li.item {
    box-shadow: 0 1px 2px 1px #efefef;
    margin: 0.5rem;
  }
}
article ul#feed.admin, article ul#left_feed.admin, article ul#events_feed.admin {
  margin-bottom: 3rem;
}
article ul#feed.admin li.item, article ul#left_feed.admin li.item, article ul#events_feed.admin li.item {
  margin: 0.5rem;
  border-color: #ccc;
  width: 670px;
}
@media (min-width: 1000px) {
  article ul#feed.admin li.item, article ul#left_feed.admin li.item, article ul#events_feed.admin li.item {
    width: 775px;
  }
}
article ul#feed.login li.item div.wrap div.admin_blocks div.detail_block, article ul#left_feed.login li.item div.wrap div.admin_blocks div.detail_block, article ul#events_feed.login li.item div.wrap div.admin_blocks div.detail_block {
  font-size: 14px;
}
article ul#feed.login li.item .form-group label, article ul#left_feed.login li.item .form-group label, article ul#events_feed.login li.item .form-group label {
  font-size: 13px;
}
@media (min-width: 620px) {
  article ul#feed.login li.item, article ul#left_feed.login li.item, article ul#events_feed.login li.item {
    width: 600px;
  }
}
article ul#feed.details li.item, article ul#left_feed.details li.item, article ul#events_feed.details li.item {
  width: auto;
  max-width: 720px;
}
article ul#feed.admin, article ul#feed.login, article ul#left_feed.admin, article ul#left_feed.login, article ul#events_feed.admin, article ul#events_feed.login {
  line-height: 115%;
}
article ul#feed.admin li.item div.continue, article ul#feed.login li.item div.continue, article ul#left_feed.admin li.item div.continue, article ul#left_feed.login li.item div.continue, article ul#events_feed.admin li.item div.continue, article ul#events_feed.login li.item div.continue {
  margin-bottom: -2px;
}
article ul#feed.admin li.item div.form_block input.expr_time, article ul#feed.admin li.item div.form_block input.expr_date, article ul#feed.login li.item div.form_block input.expr_time, article ul#feed.login li.item div.form_block input.expr_date, article ul#left_feed.admin li.item div.form_block input.expr_time, article ul#left_feed.admin li.item div.form_block input.expr_date, article ul#left_feed.login li.item div.form_block input.expr_time, article ul#left_feed.login li.item div.form_block input.expr_date, article ul#events_feed.admin li.item div.form_block input.expr_time, article ul#events_feed.admin li.item div.form_block input.expr_date, article ul#events_feed.login li.item div.form_block input.expr_time, article ul#events_feed.login li.item div.form_block input.expr_date {
  display: inline;
}
article ul#feed.admin li.item div.form_block input.expr_date, article ul#feed.login li.item div.form_block input.expr_date, article ul#left_feed.admin li.item div.form_block input.expr_date, article ul#left_feed.login li.item div.form_block input.expr_date, article ul#events_feed.admin li.item div.form_block input.expr_date, article ul#events_feed.login li.item div.form_block input.expr_date {
  width: 30%;
  min-width: 130px;
}
article ul#feed.admin li.item div.form_block input.expr_time, article ul#feed.login li.item div.form_block input.expr_time, article ul#left_feed.admin li.item div.form_block input.expr_time, article ul#left_feed.login li.item div.form_block input.expr_time, article ul#events_feed.admin li.item div.form_block input.expr_time, article ul#events_feed.login li.item div.form_block input.expr_time {
  width: 20%;
  min-width: 60px;
}
article ul#feed.admin li.item div.form_block input#announcement_doc, article ul#feed.admin li.item div.form_block input#art_img, article ul#feed.login li.item div.form_block input#announcement_doc, article ul#feed.login li.item div.form_block input#art_img, article ul#left_feed.admin li.item div.form_block input#announcement_doc, article ul#left_feed.admin li.item div.form_block input#art_img, article ul#left_feed.login li.item div.form_block input#announcement_doc, article ul#left_feed.login li.item div.form_block input#art_img, article ul#events_feed.admin li.item div.form_block input#announcement_doc, article ul#events_feed.admin li.item div.form_block input#art_img, article ul#events_feed.login li.item div.form_block input#announcement_doc, article ul#events_feed.login li.item div.form_block input#art_img {
  margin-bottom: 5px;
}
article ul#feed.admin li.item div.form_block div#colour_result, article ul#feed.login li.item div.form_block div#colour_result, article ul#left_feed.admin li.item div.form_block div#colour_result, article ul#left_feed.login li.item div.form_block div#colour_result, article ul#events_feed.admin li.item div.form_block div#colour_result, article ul#events_feed.login li.item div.form_block div#colour_result {
  cursor: pointer;
  height: 30px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}
article ul#feed.admin li.item div.form_block input[type=color], article ul#feed.login li.item div.form_block input[type=color], article ul#left_feed.admin li.item div.form_block input[type=color], article ul#left_feed.login li.item div.form_block input[type=color], article ul#events_feed.admin li.item div.form_block input[type=color], article ul#events_feed.login li.item div.form_block input[type=color] {
  width: 100px;
  height: 20px;
  border: 1px solid #181818;
  margin-top: 4px;
}
article ul#feed.admin li.item div.form_block div#formatted_essay, article ul#feed.login li.item div.form_block div#formatted_essay, article ul#left_feed.admin li.item div.form_block div#formatted_essay, article ul#left_feed.login li.item div.form_block div#formatted_essay, article ul#events_feed.admin li.item div.form_block div#formatted_essay, article ul#events_feed.login li.item div.form_block div#formatted_essay {
  background: #fff;
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px dashed #aaa;
}
article ul#feed.admin li.item div.form_block div#formatted_essay h1, article ul#feed.admin li.item div.form_block div#formatted_essay h2, article ul#feed.admin li.item div.form_block div#formatted_essay h3, article ul#feed.admin li.item div.form_block div#formatted_essay h4, article ul#feed.admin li.item div.form_block div#formatted_essay h5, article ul#feed.login li.item div.form_block div#formatted_essay h1, article ul#feed.login li.item div.form_block div#formatted_essay h2, article ul#feed.login li.item div.form_block div#formatted_essay h3, article ul#feed.login li.item div.form_block div#formatted_essay h4, article ul#feed.login li.item div.form_block div#formatted_essay h5, article ul#left_feed.admin li.item div.form_block div#formatted_essay h1, article ul#left_feed.admin li.item div.form_block div#formatted_essay h2, article ul#left_feed.admin li.item div.form_block div#formatted_essay h3, article ul#left_feed.admin li.item div.form_block div#formatted_essay h4, article ul#left_feed.admin li.item div.form_block div#formatted_essay h5, article ul#left_feed.login li.item div.form_block div#formatted_essay h1, article ul#left_feed.login li.item div.form_block div#formatted_essay h2, article ul#left_feed.login li.item div.form_block div#formatted_essay h3, article ul#left_feed.login li.item div.form_block div#formatted_essay h4, article ul#left_feed.login li.item div.form_block div#formatted_essay h5, article ul#events_feed.admin li.item div.form_block div#formatted_essay h1, article ul#events_feed.admin li.item div.form_block div#formatted_essay h2, article ul#events_feed.admin li.item div.form_block div#formatted_essay h3, article ul#events_feed.admin li.item div.form_block div#formatted_essay h4, article ul#events_feed.admin li.item div.form_block div#formatted_essay h5, article ul#events_feed.login li.item div.form_block div#formatted_essay h1, article ul#events_feed.login li.item div.form_block div#formatted_essay h2, article ul#events_feed.login li.item div.form_block div#formatted_essay h3, article ul#events_feed.login li.item div.form_block div#formatted_essay h4, article ul#events_feed.login li.item div.form_block div#formatted_essay h5 {
  font-family: inherit;
  font-weight: bold;
}
article ul#feed.admin li.item div.form_block div#formatted_essay p + p, article ul#feed.login li.item div.form_block div#formatted_essay p + p, article ul#left_feed.admin li.item div.form_block div#formatted_essay p + p, article ul#left_feed.login li.item div.form_block div#formatted_essay p + p, article ul#events_feed.admin li.item div.form_block div#formatted_essay p + p, article ul#events_feed.login li.item div.form_block div#formatted_essay p + p {
  margin-top: 8px;
}
article ul#feed.admin li.item div.form_block p, article ul#feed.login li.item div.form_block p, article ul#left_feed.admin li.item div.form_block p, article ul#left_feed.login li.item div.form_block p, article ul#events_feed.admin li.item div.form_block p, article ul#events_feed.login li.item div.form_block p {
  font-size: 15px;
}
@media (max-width: 600px) {
  article ul#feed.admin li.item div.form_block p, article ul#feed.login li.item div.form_block p, article ul#left_feed.admin li.item div.form_block p, article ul#left_feed.login li.item div.form_block p, article ul#events_feed.admin li.item div.form_block p, article ul#events_feed.login li.item div.form_block p {
    font-size: 13px;
  }
}
article ul#feed.admin li.item div.form_block p + p, article ul#feed.login li.item div.form_block p + p, article ul#left_feed.admin li.item div.form_block p + p, article ul#left_feed.login li.item div.form_block p + p, article ul#events_feed.admin li.item div.form_block p + p, article ul#events_feed.login li.item div.form_block p + p {
  margin-top: 2px;
}
article ul#feed.admin li.item div.form_block form.submitting, article ul#feed.login li.item div.form_block form.submitting, article ul#left_feed.admin li.item div.form_block form.submitting, article ul#left_feed.login li.item div.form_block form.submitting, article ul#events_feed.admin li.item div.form_block form.submitting, article ul#events_feed.login li.item div.form_block form.submitting {
  opacity: 0.5;
}
article ul#feed.admin li.item div.form_block table.success, article ul#feed.login li.item div.form_block table.success, article ul#left_feed.admin li.item div.form_block table.success, article ul#left_feed.login li.item div.form_block table.success, article ul#events_feed.admin li.item div.form_block table.success, article ul#events_feed.login li.item div.form_block table.success {
  background-color: #e5ffd9 !important;
}
article ul#feed.admin li.item div.form_block table.success span.circle_word, article ul#feed.login li.item div.form_block table.success span.circle_word, article ul#left_feed.admin li.item div.form_block table.success span.circle_word, article ul#left_feed.login li.item div.form_block table.success span.circle_word, article ul#events_feed.admin li.item div.form_block table.success span.circle_word, article ul#events_feed.login li.item div.form_block table.success span.circle_word {
  background-color: transparent;
}
article ul#feed.admin li.item div.form_block table.success.waiting, article ul#feed.login li.item div.form_block table.success.waiting, article ul#left_feed.admin li.item div.form_block table.success.waiting, article ul#left_feed.login li.item div.form_block table.success.waiting, article ul#events_feed.admin li.item div.form_block table.success.waiting, article ul#events_feed.login li.item div.form_block table.success.waiting {
  background-color: #fffdd9 !important;
}
article ul#feed.admin li.item div.form_block table.success.scheduled, article ul#feed.login li.item div.form_block table.success.scheduled, article ul#left_feed.admin li.item div.form_block table.success.scheduled, article ul#left_feed.login li.item div.form_block table.success.scheduled, article ul#events_feed.admin li.item div.form_block table.success.scheduled, article ul#events_feed.login li.item div.form_block table.success.scheduled {
  background-color: #ffe8e8 !important;
}
article ul#feed.admin li.item div.form_block div.table_controls, article ul#feed.login li.item div.form_block div.table_controls, article ul#left_feed.admin li.item div.form_block div.table_controls, article ul#left_feed.login li.item div.form_block div.table_controls, article ul#events_feed.admin li.item div.form_block div.table_controls, article ul#events_feed.login li.item div.form_block div.table_controls {
  background-color: #efefef;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
article ul#feed.admin li.item div.form_block div.table_controls > .previous, article ul#feed.admin li.item div.form_block div.table_controls > .navnumbers, article ul#feed.admin li.item div.form_block div.table_controls > .next, article ul#feed.login li.item div.form_block div.table_controls > .previous, article ul#feed.login li.item div.form_block div.table_controls > .navnumbers, article ul#feed.login li.item div.form_block div.table_controls > .next, article ul#left_feed.admin li.item div.form_block div.table_controls > .previous, article ul#left_feed.admin li.item div.form_block div.table_controls > .navnumbers, article ul#left_feed.admin li.item div.form_block div.table_controls > .next, article ul#left_feed.login li.item div.form_block div.table_controls > .previous, article ul#left_feed.login li.item div.form_block div.table_controls > .navnumbers, article ul#left_feed.login li.item div.form_block div.table_controls > .next, article ul#events_feed.admin li.item div.form_block div.table_controls > .previous, article ul#events_feed.admin li.item div.form_block div.table_controls > .navnumbers, article ul#events_feed.admin li.item div.form_block div.table_controls > .next, article ul#events_feed.login li.item div.form_block div.table_controls > .previous, article ul#events_feed.login li.item div.form_block div.table_controls > .navnumbers, article ul#events_feed.login li.item div.form_block div.table_controls > .next {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
article ul#feed.admin li.item div.form_block div.table_controls button.previous:disabled:before, article ul#feed.admin li.item div.form_block div.table_controls button.previous:disabled:after, article ul#feed.admin li.item div.form_block div.table_controls button.next:disabled:before, article ul#feed.admin li.item div.form_block div.table_controls button.next:disabled:after, article ul#feed.login li.item div.form_block div.table_controls button.previous:disabled:before, article ul#feed.login li.item div.form_block div.table_controls button.previous:disabled:after, article ul#feed.login li.item div.form_block div.table_controls button.next:disabled:before, article ul#feed.login li.item div.form_block div.table_controls button.next:disabled:after, article ul#left_feed.admin li.item div.form_block div.table_controls button.previous:disabled:before, article ul#left_feed.admin li.item div.form_block div.table_controls button.previous:disabled:after, article ul#left_feed.admin li.item div.form_block div.table_controls button.next:disabled:before, article ul#left_feed.admin li.item div.form_block div.table_controls button.next:disabled:after, article ul#left_feed.login li.item div.form_block div.table_controls button.previous:disabled:before, article ul#left_feed.login li.item div.form_block div.table_controls button.previous:disabled:after, article ul#left_feed.login li.item div.form_block div.table_controls button.next:disabled:before, article ul#left_feed.login li.item div.form_block div.table_controls button.next:disabled:after, article ul#events_feed.admin li.item div.form_block div.table_controls button.previous:disabled:before, article ul#events_feed.admin li.item div.form_block div.table_controls button.previous:disabled:after, article ul#events_feed.admin li.item div.form_block div.table_controls button.next:disabled:before, article ul#events_feed.admin li.item div.form_block div.table_controls button.next:disabled:after, article ul#events_feed.login li.item div.form_block div.table_controls button.previous:disabled:before, article ul#events_feed.login li.item div.form_block div.table_controls button.previous:disabled:after, article ul#events_feed.login li.item div.form_block div.table_controls button.next:disabled:before, article ul#events_feed.login li.item div.form_block div.table_controls button.next:disabled:after {
  opacity: 0.4;
}
article ul#feed.admin li.item div.form_block div.table_controls button.previous:before, article ul#feed.admin li.item div.form_block div.table_controls button.next:after, article ul#feed.login li.item div.form_block div.table_controls button.previous:before, article ul#feed.login li.item div.form_block div.table_controls button.next:after, article ul#left_feed.admin li.item div.form_block div.table_controls button.previous:before, article ul#left_feed.admin li.item div.form_block div.table_controls button.next:after, article ul#left_feed.login li.item div.form_block div.table_controls button.previous:before, article ul#left_feed.login li.item div.form_block div.table_controls button.next:after, article ul#events_feed.admin li.item div.form_block div.table_controls button.previous:before, article ul#events_feed.admin li.item div.form_block div.table_controls button.next:after, article ul#events_feed.login li.item div.form_block div.table_controls button.previous:before, article ul#events_feed.login li.item div.form_block div.table_controls button.next:after {
  width: 20px;
  display: inline-block;
  height: 17px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  content: "";
}
article ul#feed.admin li.item div.form_block div.table_controls button.previous:before, article ul#feed.login li.item div.form_block div.table_controls button.previous:before, article ul#left_feed.admin li.item div.form_block div.table_controls button.previous:before, article ul#left_feed.login li.item div.form_block div.table_controls button.previous:before, article ul#events_feed.admin li.item div.form_block div.table_controls button.previous:before, article ul#events_feed.login li.item div.form_block div.table_controls button.previous:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23181818%%22%20d%3D%22M49.6%2030H19.3L30%2019.4c.8-.8.8-2%200-2.8-.8-.8-2-.8-2.8%200L11.6%2032l15.7%2015.4c.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6.8-.8.8-2.1%200-2.8L19.3%2034h30.3c1.1%200%202-.9%202-2s-.9-2-2-2z%22%2F%3E%3C%2Fsvg%3E");
}
article ul#feed.admin li.item div.form_block div.table_controls button.next:after, article ul#feed.login li.item div.form_block div.table_controls button.next:after, article ul#left_feed.admin li.item div.form_block div.table_controls button.next:after, article ul#left_feed.login li.item div.form_block div.table_controls button.next:after, article ul#events_feed.admin li.item div.form_block div.table_controls button.next:after, article ul#events_feed.login li.item div.form_block div.table_controls button.next:after {
  background-position: 100% 50%;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23181818%22%20d%3D%22M36.8%2016.6c-.8-.8-2.1-.8-2.8%200-.8.8-.8%202.1%200%202.8L44.7%2030H14.4c-1.1%200-2%20.9-2%202s.9%202%202%202h30.3L34%2044.6c-.8.8-.8%202%200%202.8.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6L52.4%2032%2036.8%2016.6z%22%2F%3E%3C%2Fsvg%3E");
}
article ul#feed.admin li.item div.form_block div.table_controls .navnumbers, article ul#feed.login li.item div.form_block div.table_controls .navnumbers, article ul#left_feed.admin li.item div.form_block div.table_controls .navnumbers, article ul#left_feed.login li.item div.form_block div.table_controls .navnumbers, article ul#events_feed.admin li.item div.form_block div.table_controls .navnumbers, article ul#events_feed.login li.item div.form_block div.table_controls .navnumbers {
  font-size: 13px;
  padding: 0 2px;
}
article ul#feed.admin li.item div.form_block div.table_controls .navnumbers .current_page, article ul#feed.login li.item div.form_block div.table_controls .navnumbers .current_page, article ul#left_feed.admin li.item div.form_block div.table_controls .navnumbers .current_page, article ul#left_feed.login li.item div.form_block div.table_controls .navnumbers .current_page, article ul#events_feed.admin li.item div.form_block div.table_controls .navnumbers .current_page, article ul#events_feed.login li.item div.form_block div.table_controls .navnumbers .current_page {
  text-align: center;
  border-radius: 9px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  font-weight: bold;
}
article ul#feed.admin li.item div.form_block div.table_controls .navnumbers .page_jumper, article ul#feed.login li.item div.form_block div.table_controls .navnumbers .page_jumper, article ul#left_feed.admin li.item div.form_block div.table_controls .navnumbers .page_jumper, article ul#left_feed.login li.item div.form_block div.table_controls .navnumbers .page_jumper, article ul#events_feed.admin li.item div.form_block div.table_controls .navnumbers .page_jumper, article ul#events_feed.login li.item div.form_block div.table_controls .navnumbers .page_jumper {
  text-decoration: #333 dotted underline 1px;
  text-decoration-skip-ink: all;
  cursor: pointer;
}
article ul#feed.admin li.item input[type=submit], article ul#feed.login li.item input[type=submit], article ul#left_feed.admin li.item input[type=submit], article ul#left_feed.login li.item input[type=submit], article ul#events_feed.admin li.item input[type=submit], article ul#events_feed.login li.item input[type=submit] {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

div#alert_cover, div#superimposition_cover, div#search_cover, div#date_picker_cover {
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 0.5s;
}

div#date_picker_cover {
  background-color: #d6f3ff;
  background-size: 18px;
}
div#date_picker_cover:not(.has_alert) {
  display: none;
}

div#search_cover {
  z-index: 2;
}

div#alert_cover:not(.has_alert) {
  display: none;
}
div#alert_cover.error {
  background-color: #ffeaea;
}

div#superimposition_cover:not(.has_art) {
  display: none;
}

div#alert, div#superimposition {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 6;
  position: fixed;
  top: 85px;
  left: 50%;
  border: 1px solid #eee;
  border-radius: 4px;
  max-height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: background 0.2s;
  margin-left: -300px;
  width: 600px;
}
div#alert div.wrap, div#superimposition div.wrap {
  padding: 40px;
}
@media (max-width: 650px) {
  div#alert, div#superimposition {
    margin-left: -250px;
    width: 500px;
  }
}
@media (max-width: 550px) {
  div#alert, div#superimposition {
    top: 30px;
    margin-left: -200px;
    width: 400px;
  }
}
@media (max-width: 450px) {
  div#alert, div#superimposition {
    margin-left: -175px;
    width: 350px;
  }
}
@media (max-width: 375px) {
  div#alert, div#superimposition {
    margin-left: -140px;
    width: 280px;
  }
}
@media (max-width: 370px) {
  div#alert, div#superimposition {
    width: 290px;
    margin-left: -145px;
  }
}

div#alert {
  color: #181818;
  border: 1px solid #000;
  background-color: #fff;
  top: 15%;
  font-size: 14px;
  max-height: 70vh;
}
div#alert:not(.has_alert) {
  display: none;
}
div#alert div.title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
div#alert div.wrap {
  padding: 3% 5%;
}
div#alert div.body {
  line-height: 120%;
}
div#alert div.body p.subtitle {
  margin-top: 20px;
}
div#alert div.body p + p, div#alert div.body p + ul {
  padding-top: 10px;
}
div#alert div.body ul {
  list-style-type: "✓ ";
  margin-left: 15px;
}
div#alert div.body ul li {
  margin-left: 15px;
}
div#alert.error {
  background-color: #ffeaea;
  border-color: #181818;
  color: #181818;
}
@media (max-width: 550px) {
  div#alert {
    top: 20%;
  }
}

div#superimposition:not(.has_art) {
  display: none;
}
div#superimposition div#img_wrap {
  display: flex;
  align-items: center;
  justify-center: center;
}
div#superimposition div#text_wrap {
  margin-top: 1rem;
  line-height: 110%;
}
div#superimposition div#text_wrap p + p {
  margin-top: 0.75rem;
}
@media (max-width: 550px) {
  div#superimposition div#text_wrap {
    font-size: 13px;
  }
}
div#superimposition img {
  width: 100%;
}

div#close_alert, div#close_superimposition {
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 37.5px;
  right: 10px;
  z-index: 7;
  border: 1px solid #fff;
  height: 38px;
  width: 38px;
  border-radius: 19px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-image: url("../img/cancel_white.svg");
  background-color: #ccc;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.06);
  transition: box-shadow ease 0.2s;
}
div#close_alert:hover, div#close_superimposition:hover {
  box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.12);
}
@media (max-width: 550px) {
  div#close_alert, div#close_superimposition {
    border-style: solid;
    top: auto;
    right: auto;
    bottom: 10px;
    left: 50%;
    margin-left: -1.5rem;
  }
}

div#close_alert {
  color: #f5f9ff;
  border-color: #f5f9ff;
}
div#close_alert:not(.has_alert) {
  display: none;
}
div#close_alert.error {
  background: none;
  border-color: #181818;
  color: #181818;
}

div#close_superimposition:not(.has_art) {
  display: none;
}

table#generous {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), 50%, #ddd);
  width: 100%;
  height: 70px;
}
@media (min-width: 1000px) {
  footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), 50%, #fff);
  }
  footer:not(.active) {
    background: none;
  }
}
footer.active {
  min-height: 250px;
  height: 25%;
}
@media (max-width: 850px) {
  footer.active {
    height: 35%;
  }
}
@media (max-width: 650px) {
  footer.active {
    height: 45%;
  }
}
@media (max-width: 450px) {
  footer.active {
    height: 55%;
  }
}
footer.active div#menu {
  margin-top: 1.5rem;
  font-size: 13px;
  padding-left: 0.5rem;
  display: block;
  width: 100%;
  color: #000;
}
footer a {
  -webkit-tap-highlight-color: transparent;
}
footer a.btn_menu {
  display: block;
  text-align: right;
  background: url("../img/menu.png") no-repeat;
  background-color: #fff;
  background-position: 5% 50%;
  background-size: 10px 10px;
  width: 125px;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px !important;
}
footer a.btn_menu:not(.today) {
  width: 95px;
}
footer.admin a.btn_menu {
  width: 70px;
}
footer div.left, footer div.right {
  padding: 1rem;
  position: absolute;
  font-size: 13px;
  display: inline-block;
  bottom: 0;
}
footer div.left a.btn, footer div.right a.btn {
  font-size: 13px;
}
footer div.left {
  padding-left: 1.5rem;
  left: 0;
  z-index: 1;
}
footer div.right {
  padding-right: 1.5rem;
  right: 0;
  z-index: 0;
}
footer div.right .long_copy {
  display: none;
}
@media (min-width: 1000px) {
  footer div.right:not(.active) {
    padding-right: 1.5rem;
    z-index: 0;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    height: 500px;
    display: block;
    bottom: 0;
    right: 0;
    text-align: left;
    padding-left: 10px;
  }
  footer div.right:not(.active) .long_copy {
    display: inline;
  }
  footer div.right:not(.active) .short_copy {
    display: none;
  }
}

#blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #68b7d8;
  width: 20vmax;
  z-index: -1;
  animation: move_blob 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move_blob {
  0% {
    transform: scale(1) translate(12px, 80px);
  }
  12% {
    transform: scale(1) translate(12px, 80px) rotate(359deg);
  }
  38% {
    transform: scale(0.8, 1) translate(70vw, 40vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(70vw, 40vh) rotate(180deg);
  }
  78% {
    transform: scale(1.3) translate(20vw, 25vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(20vw, 25vh) rotate(-40deg);
  }
  100% {
    transform: scale(1) translate(12px, 80px);
  }
}
@media (min-width: 992px) {
  div.cols {
    float: left;
  }

  div.two {
    width: 45%;
  }

  .narrow {
    width: 60%;
  }
}
@media (max-width: 750px) {
  article ul#feed li.item, article ul#left_feed li.item, article ul#events_feed li.item {
    margin: 0.3rem;
    box-shadow: 0 0 1px 1px #eee;
  }
  article ul#feed li.item div.wrap div.back, article ul#left_feed li.item div.wrap div.back, article ul#events_feed li.item div.wrap div.back {
    background-color: #ed0000aa;
    border-radius: 0;
    margin: 0;
    position: fixed;
    left: 10px;
    display: block;
    bottom: 150px;
    width: 100px;
  }
  article ul#feed li.item div.wrap div.back.organic, article ul#left_feed li.item div.wrap div.back.organic, article ul#events_feed li.item div.wrap div.back.organic {
    left: inherit;
    right: 10px;
  }
}
@media (max-width: 715px) {
  article ul#feed.admin li.item {
    width: 600px;
  }
}
@media (max-width: 650px) {
  article ul#feed.admin li.item {
    width: 400px;
  }

  article:not(.no_header) {
    margin-top: 75px;
  }

  header {
    height: auto;
    background-image: linear-gradient(#eee 70%, rgba(245, 245, 245, 0.5));
  }
  header div#nav-header h1 {
    padding-left: 0.8rem;
    font-size: 80%;
  }
  header div#nav-header h1 span.app_icon {
    background-size: 10px 10px;
    padding-left: 16px;
  }
  header div#nav-wrap {
    padding-left: 0.5rem;
  }
  header div#nav-right {
    padding-right: 0.5rem;
  }
  header div#nav-right a.deconnexion {
    background-position: right;
  }
  header div#nav-wrap, header div#nav-right {
    font-size: 0.8rem;
  }
  header div#nav-wrap div#account_dropdown, header div#nav-right div#account_dropdown {
    right: 9px;
    top: 55px;
  }
  header div#nav-wrap div#account_dropdown ul li, header div#nav-wrap div#account_dropdown ul li:first-child, header div#nav-right div#account_dropdown ul li, header div#nav-right div#account_dropdown ul li:first-child {
    font-size: 12px;
  }
  header div#nav-wrap div#account_dropdown ul li a, header div#nav-wrap div#account_dropdown ul li:first-child a, header div#nav-right div#account_dropdown ul li a, header div#nav-right div#account_dropdown ul li:first-child a {
    height: 30px;
    line-height: 30px;
  }
  header div#nav-wrap a, header div#nav-wrap div.dropdown_title, header div#nav-right a, header div#nav-right div.dropdown_title {
    padding: 0.8rem 0.4rem 0.8rem 0.4rem;
  }

  footer a.btn_menu {
    width: 85px;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: inline-block !important;
  }

  .mobile_block {
    display: block !important;
  }
}
@media (max-width: 410px) {
  div#menu {
    font-size: 12px;
  }
  div#menu select {
    padding: 2px;
  }

  article ul#left_feed li.item, article ul#feed li.item, article ul#events_feed li.item, article ul#feed.admin li.item {
    width: 350px;
  }
  article ul#left_feed li.item div.wrap div.blocks div.text_block, article ul#feed li.item div.wrap div.blocks div.text_block, article ul#events_feed li.item div.wrap div.blocks div.text_block, article ul#feed.admin li.item div.wrap div.blocks div.text_block {
    min-width: 310px;
  }

  footer div.right {
    font-size: 80%;
    opacity: 0.5;
  }
}
@media (max-width: 355px) {
  article ul#left_feed li.item, article ul#feed li.item, article ul#events_feed li.item, article ul#feed.admin li.item {
    width: 310px;
  }
  article ul#left_feed li.item div.wrap div.blocks div.text_block, article ul#feed li.item div.wrap div.blocks div.text_block, article ul#events_feed li.item div.wrap div.blocks div.text_block, article ul#feed.admin li.item div.wrap div.blocks div.text_block {
    min-width: 300px;
  }
}
@media (max-width: 319px) {
  article ul#left_feed li.item, article ul#feed li.item, article ul#events_feed li.item, article ul#feed.admin li.item {
    width: 280px;
  }

  footer div.flex_options div.flex_option {
    margin-right: 3px;
  }
}
::selection {
  background-color: #fff49b;
  color: #181818;
}

::-moz-selection {
  background-color: #fff49b;
  color: #181818;
}

/*# sourceMappingURL=styles.css.map */
