@import 'ScalaSans';
@import 'Optima';
@import 'loading_bar';
@import 'vars';
@import 'site_alert';
$header_height: 75px;
$footer_height: 70px;
$menu_height: 80px;
body {
  font-family: $sans_serif;
  color: $text_colour;
  line-height: 155%;
  margin: 0;
  &.no_scroll {
    overflow-y: hidden;
  }
}
div#dropdown_cover, div#menu_cover {
  background-color: transparent;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}
div#menu_cover {
  transition: background 0.5s;
  z-index: 0;
  display: block;
  background-color: #fff5;
}
code, pre, .monospace {
  font-family: $monospace;
}
.display {
  font-family: $display;
}
.mobile, .mobile_block {
  display: none !important;
}
.pc, .smcp {
  font-variant: petite-caps;
}
.tpc, .apc {
  font-variant: all-petite-caps;
}
.gras {
  font-weight: 700;
}
.grey {
  color: grey;
}
.sm:not(.btn):not(select) {
  font-size: smaller !important;
}
select.sm {
  padding: 2px;
}
.right {
  text-align: right;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  &.active {
    border-bottom: 3px solid;
    border-top: none;
  }
}
p, h1, h2, h3, h4, h5, ul, li {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  font-family: $display;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 90%;
}
ol {
  padding-left: 25px;
  margin-left: 0;
}
img {
  height: auto;
  margin: auto;
  max-width: 100%;
}
.g-recaptcha {
  transform: scale(0.75);
  transform-origin: 0 0;
}
img {
  height: auto;
  margin: auto;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
ul.footnote {
  margin-left: 15px;
  li {
    list-style: '*';
    padding-left: 5px;
    font-size: 13px;
    color: #333;
    &.dagger {
      list-style: '†';
    }
    &.ddagger {
      list-style: '‡';
    }
    p {
      font-size: 13px !important;
    }
  }
}
div.footnote {
  background-color: #efefef;
  padding: 8px 3px;
  margin-top: 1rem;
}
.bw {
  background: none;
  color: inherit;
}
.larger {
  font-size: 1.6em
}
.center {
  text-align: center;
}
.no_hyphens {
  hyphens: none;
}
.ns {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
span.circle_letter, span.circle_number, span.circle_word {
  text-transform: none;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 2px;
  border: 1px dotted;
  text-align: center;
  border-radius: 10px;
  margin-right: 7px;
  //transition: background-color 0.15s ease-in-out;
}
span.circle_word {
  width: auto;
  height: auto;
  margin-right: 0;
  font-family: $sans_serif;
  background-color: #eee;
  padding: 2px 5px;
  border: none;
  &.no_height {
    padding: 1px 5px;
  }
  &.success {
    background-color: $success_colour;
    border-color: $success_colour;
  }
  &.warning {
    background-color: #fffdd9;
    border-color: #fffdd9;
  }
  &.danger {
    background-color: #ffe8e8;
    border-color: #ffe8e8;
  }
  &.numbers {
    font-family: $monospace;
    background-color: #68b7d84d;
    border: none;
    border-radius: 1rem;
    min-width: 8px;
  }
}
tr {
  @media (min-width: 720px) {
    span.circle_word {
      &:before {
        content: '\2022';
        padding-right: 3px;
        color: #888;
      }
    }
  }
  &.highlight span.circle_word {
    background-color: #fff;
  }
}


span.circle_letter {
  font-style: italic;
  font-family: serif;
}
a.btn.img_prefix, button.img_prefix, input[type='submit'].img_prefix {
  padding-left: 24px;
  text-align: left;
  &.download {
    background: url('../img/download.svg') no-repeat 4px center;
    background-color: #fff;
    background-size: 15px;
  }
}
div#appointment_chart_container {
  margin-top: 1rem;
  background-color: #eee;
  padding: 8px;
  padding-top: 1rem;
}
div.img_prefix {
  padding-left: 18px;
  text-align: left;
  &.pad_left {
    margin-left: 10px;
  }
  &.astuce {
    background: url('../img/feed/ampoule.png') no-repeat left top;
    background-size: 1rem;
  }
  &.past {
    background: url('../img/past.png') no-repeat left center;
    background-size: 1rem;
  }
  &.pdf {
    background: url('../img/pdf.png') no-repeat left center;
    background-size: 1rem;
  }
  &.info {
    background: url('../img/info.png') no-repeat left center;
    background-size: 1rem;
  }
  &.db {
    background: url('../img/bd_coche.png') no-repeat left center;
    background-size: 1rem;
  }
  &.db_delete {
    background: url('../img/bd_supprimer.png') no-repeat left center;
    background-size: 1rem;
  }
  &.img {
    background: url('../img/img_file.png') no-repeat left center;
    background-size: 1rem;
  }
  &.equaliser {
    background: url('../img/eq.gif') no-repeat left center;
    background-size: 12px 12px;
  }
  &.play {
    background: url('../img/ligne.png') no-repeat left center;
    background-size: 12px 12px;
  }
  &.search_user {
    background: url('../img/search.png') no-repeat left center;
    background-size: 1rem;
  }
}
ul li.img_prefix, ol li.img_prefix {
  list-style: none;
  margin-bottom: 5px;
  &::before {
    display: inline-block;
    content: '';
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left top;
    margin-right: 6px;
  }
  &.phone::before {
    background-image: url('../img/portable.png');

  }
  &.email::before {
    background-image: url('../img/email.png');
  }

}
div#loupe, div#search {
  position: fixed;
  height: 38px;
  bottom: 20px;
  border-radius: 19px;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 3;
}
div#search {
  border-color: #ccc;
  right: 34px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 30px;
  form {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  input {
    border-bottom: none;
    background: none;
    padding: 0;
    padding-left: 14px;
    min-width: 200px;
    height: 100%;
    font-size: 14px;
  }
  &.enter_more:before, &.click_search:before, &.searched:before {
    content: 'Please keep typing (case-sensitive).';
    position: absolute;
    top: -2.2rem;
    background-color: #fff49b;
    padding: 0px 5px;
    font-size: 13px;
    border-radius: 14px;
    border: 1px solid #ddd;
  }
  &.click_search:before {
    content: 'Click ‘search’ to filter all lists.'
  }
  &.search:before {
    content: 'Click ‘×’  to remove the filter.'
  }

}
div#loupe {
  right: 15px;
  width: 38px;
  cursor: pointer;
  box-shadow: 0 3px 3px 1px rgba(0,0,0,.06);
  background-image: url('../img/loupe.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 50% 50%;
  transition: box-shadow ease 0.2s, border ease 0.2s;
  &.active {
    border-color: #ccc;
    background-image: url('../img/cancel.svg');
  }
  &:hover {
    border-color: #ccc;
    &:not(.active) {
      box-shadow: 0 6px 6px 1px rgba(0,0,0,.12);
    }
  }
}
header {
  max-width: 1000px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  z-index: 4;
  height: $header_height;
  position: fixed;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  padding-top: 3px;
  border-bottom: 1px solid #ccc;
  background-color: #fffe;

  @media (max-width:1000px) {
    border-bottom: 1px solid #ddd;
    background-image: linear-gradient(#eee 50%, rgba(255,255,255,0.5));
    background-color: #eee;
  }

  &:hover {
    div#nav-wrap a, div#nav-right a, div#nav-right div.dropdown_title:not(.active) {
      opacity: 0.6;
    }
  }

  div#nav-wrap, div#nav-right {
    font-size: 0.90rem;
  }
  div#nav-header, div#nav-wrap, div#nav-right {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    line-height: 130%;
    font-family: $display;
    a.active {
      opacity: 1.0;
      font-weight: 700;
      &:hover {
        cursor: not-allowed;
      }
    }


    a.back {
      &:before {
        background-image:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23181818%%22%20d%3D%22M49.6%2030H19.3L30%2019.4c.8-.8.8-2%200-2.8-.8-.8-2-.8-2.8%200L11.6%2032l15.7%2015.4c.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6.8-.8.8-2.1%200-2.8L19.3%2034h30.3c1.1%200%202-.9%202-2s-.9-2-2-2z%22%2F%3E%3C%2Fsvg%3E");
        width: 22px;
        display: inline-block;
        height: 19px;
        @media(max-width: 650px) {
          height: 16px;
        }
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 0% 50%;
        content: '';
        vertical-align: top;
      }
    }



    div#account_dropdown {
      display: none;
      right: 12px;
      top: 65px;
      position: absolute;
      max-width: 300px;
      min-width: 115px;
      z-index: 99;
      ul {
        box-shadow: 0 1.5rem 4rem rgba(6,8,15,.15);
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #bbb;
        li {
          padding: 0px 6px;
          font-family: $sans_serif;
          font-size: 14px;
          text-align: right;
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }
          &:first-child, &:last-child {
            font-size: 13px;
            background-color: #eee;
            text-align: center;
            padding: 8px 6px;
          }
          &:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }
          &:last-child {
            cursor: pointer;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
          &.super_priv  {
            background-color: #68b7d824;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            background-position: 7px 50%;
            background-image: url('../img/couronne.png');
            padding-left: 28px;
          }
          a {
            opacity: 1;
            display: inline-block;
            padding: 0px;
            width: 100%;
            height: 35px;
            line-height: 35px;
          }
        }
      }
    }
    div.dropdown_title {
      cursor: pointer;
      &.active {
        opacity: 1;
      }
    }
    a, div.dropdown_title {
      display: inline-block;
      padding: 0.8rem 1rem 1.2rem 1rem;
      opacity: 0.4;

      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
      &:hover {
        opacity: 1;
      }
    }
  }

  div#nav-header {
    flex-basis: 100%;
    h1 {
      width: 100%;
      font-size: 85%;
      font-weight: 700;
      color: #181818;
      padding: 6px 4px 0px 1rem;
      line-height: 1;
      span.app_icon {
        font-family: $display;
        background: url('../img/pfd-480.png') no-repeat;
        background-position: 0% 50%;
        background-size: 12px 12px;
        padding-left: 18px;
      }
    }
  }

}
article {
  width: 100%;
  padding: 0;
  &:not(.no_header) {
    margin-top: $header_height + 35;
  }
  &:not(.no_footer) {
    margin-bottom: $footer_height + 10;
  }
  &.no_footer {
    margin-bottom: 8rem;
  }

  div.feeds {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  a:not(.btn), span.a {
    cursor: pointer;
    border-bottom: 1px dotted #999;
    color: inherit;
    line-height: 130%;
    &:hover, &:active {
      border-bottom: 1px solid #999;
      text-decoration: none;
    }
  }
  div.error, div.valid, div.warning, div.success {
    &:not(.special-group) {
      padding: 6px 3px;
    }
  }
  div.error {
    background-color: $error_bg_colour;
  }
  div.valid {
    background-color: #efefef;
  }
  div.special-group div.valid {
    background-color: #dedede;
  }
  div.success {
    background-color: $success_colour;
  }
  div.warning {
    background-color: $highlight_colour;
    button, input[type='submit'] {
      background-color: $highlight_colour;
      border-color: #999;
      &.active, &:active {
        box-shadow: inset 0 3px 5px #ff3;
        -webkit-box-shadow: inset 0 3px 5px #ff3;
      }
    }
  }

  a.btn, button {
    font-size: 14px;
    @media (max-width: 600px) {
      font-size: 13px;
    }
    &.sm {
      padding: 3px 4px;
    }
    &.smsm {
      padding: 0 2px;
      line-height: 1.5;
    }
    &.success {
      background-color: $success_colour;
      border-color: #019b01;
      color: #019b01;
    }
  }

  label.inline_label {
    display: inline;
    &:not(.bold) {
      font-weight: 400;
    }
    &.bold {
      font-size: 90%;
    }
  }

  .trans_bg {
    background: none;
  }

  div.tip {
    position: absolute;
    line-height: 100%;
    background-color: #fff;
    border: 1px dotted #aaa;
    z-index: 3;
    font-family: $monospace;
    font-size: 11px;
    max-width: 250px;
    div.wrap {
      padding: 2px;
    }
  }

  ul#feed, ul#left_feed, ul#events_feed, div#left_menu {
    display: -webkit-box;
    display: flex;
    margin: auto;
    height: auto;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  ul#feed, ul#left_feed, ul#events_feed {
    &.today, &.forms, &.login, &.admin {
      flex-flow: column wrap;
      align-items: flex-start;
      -webkit-align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    &.today {
      margin: 0;
    }

    &.athletics, &.arts, &.schedule {
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
    }

    li.item {
      &:not(.no_action) {
        cursor: default;
      }
      flex: 0 1 auto;
      width: 350px;
      &.auto_width {
        width: auto;
      }
      div.art_atrib {
        display: none;
      }
      &.no_results {
        div.wrap div.blocks div.icon_block div.icon {
          background-image: url('../img/boite_vide.png');
        }
      }
      &.error {
        div.wrap div.blocks div.icon_block div.icon {
          background-image: url('../img/feed/error.png');
        }
      }
      &.has_art {
        div.title_block h4 {
          font-weight: bold;
        }
      }
      @media(max-width: 600px) {
        div.wrap div.admin_blocks div.title_block {
          line-height: 130% !important;
          h4 {
            font-size: 85%;
          }
        }
      }
      @media(min-width: 651px) {
        &.has_art {
          div.wrap div.admin_blocks div.title_block {
            border-color: #555;
          }
          &.login_3 {
            color: #fff;
            a {
              border-color: #fff;
            }
            div.wrap div.admin_blocks div.title_block {
              border-color: #fff;
            }
            div.art_atrib {
              color: #fff;
            }
          }
          &.login_3 {
            background-color: #080907;
            input.disabled {
              background-color: #666 !important;
              border: none !important;
            }
            div.error {
              background-color: #333;
            }
          }
          &.fp {
            background-color: #eae2d4;
          }
          &.cp {
            background-color: #dfd67f;
          }
          &.recover, &.contact, &.delete_user, &.data {
            background-color: #fff;
          }
          width: 600px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          div.wrap {
            width: 100%;
          }
          div.art {
            width: 100%;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            height: 420px; 
            &.login_3 {
              width: 80%;
              background: url('../img/Sao-Paulo.jpg') no-repeat;
              background-size: cover;
            }
            &.fp {
              width: 80%;
              background: url('../img/Sharaku-lecture-1794.jpg') no-repeat;
              background-size: cover;
            }
            &.cp {
              width: 80%;
              background: url('../img/Saint-Jean-Gabriel-Malesskircher-1478.jpg') no-repeat;
              background-size: cover;
            }
            &.contact {
              width: 80%;
              background: url('../img/Teheran.jpg') no-repeat;
              background-size: cover;
            }
            &.delete_user {
              width: 80%;
              background: url('../img/Milan.jpg') no-repeat;
              background-size: cover;
            }
            &.recover {
              width: 80%;
              background: url('../img/Paris.jpg') no-repeat;
              background-size: cover;
            }
          }

          div#collab_logo {
            height: 37px;
            width: 165.2px;
            background-image: url('../img/parker_x_foreword_white.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 8px;
            left: 8px;
          }
        }


        div.art_atrib {
          display: block;
          position: absolute;
          bottom: 5px;
          line-height: 1.1;
          font-size: 12px;
          color: #444;
          padding-right: 3px;
        }
      }
      min-height: 25px;
      border: 1px solid #ddd;
      &.brand {
        border-color: #ed0000;
      }
      border-radius: 4px;
      margin: 0.4rem;
      position: relative;
      background-color: #fff;
      transition: background 0.1s, border 0.1s;
      div.wrap {
        div.back {
          z-index: 5;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          text-align: center;
          background-color: #ed0000;
          transition: background 0.1s;
          cursor: pointer;
          padding: 8px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          font-size: 12px;
          font-weight: bold;
          color: #fff;
          &:hover {
            background-color: #c00;
          }
          &:active {
            font-style: italic;
          }
          a.arrow, span.arrow {
            &.left:before {
              background-image:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M49.6%2030H19.3L30%2019.4c.8-.8.8-2%200-2.8-.8-.8-2-.8-2.8%200L11.6%2032l15.7%2015.4c.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6.8-.8.8-2.1%200-2.8L19.3%2034h30.3c1.1%200%202-.9%202-2s-.9-2-2-2z%22%2F%3E%3C%2Fsvg%3E");
              background-position: 0% 50%;
              width: 26px;
            }
            &.right:after {
              background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M36.8%2016.6c-.8-.8-2.1-.8-2.8%200-.8.8-.8%202.1%200%202.8L44.7%2030H14.4c-1.1%200-2%20.9-2%202s.9%202%202%202h30.3L34%2044.6c-.8.8-.8%202%200%202.8.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6L52.4%2032%2036.8%2016.6z%22%2F%3E%3C%2Fsvg%3E");
              background-position: 100% 50%;
              width: 26px;
            }
            &:before, &:after {
              display: inline-block;
              height: 24px;
              background-size: 14px 14px;
              background-repeat: no-repeat;
              content: '';
              vertical-align: top;
            }
          }
        }
        div.blocks, div.admin_blocks {
          padding: 8px;
          div.settings_group {
            margin: 0;
            div.flex_options {
              border-left: none;
              padding: 0;
              font-size: 13px;
            }
          }
        }
        div.admin_blocks {
          div.title_block {
            line-height: 150%;
            border-bottom: 1px dashed #ccc;
            margin-bottom: 5px;
            padding-bottom: 2px;
            h4 {
              font-weight: bold;
            }
          }
          div.detail_block {
            font-size: 15px;
            @media (max-width: 600px) {
              font-size: 14px;
            }
            padding: 3px;
            margin-bottom: 5px;
            padding-bottom: 4px;
            p+p {
              margin-top: 5px;
            }
            &.literary {
              ul, ol {
                margin-top: 0.5rem;
              }
            }
          }
        }
        div.blocks {
          div.icon_block {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            div.icon {
              width: 15px;
              background-position: 5% 50%;
              background-size: 15px 15px;
              background-repeat: no-repeat;
              position: absolute;
              left: 8px;
              top: 8px;
            }
          }
          div.text_block {
            margin-left: 23px;
            line-height: 110%;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            min-width: 310px;
            @media (max-width: 600px) {
              font-size: 13px;
            }
            &.sched_block {
              display: block;
            }
            div.more_indicator {
              text-align: center;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }
            div.footer {
              text-align: center;
              margin-top: 0.5rem;
              font-weight: 700;
              font-size: 11px;
              font-variant: all-petite-caps;
            }
            ul.event_metadata {
              padding-top: 5px;
              margin-top: 5px;
              border-top: 1px dashed #ccc;
              li {
                font-size: 13px;
              }
              li.location {
                background: url('../img/location.png') no-repeat left center;
              }
              li.team {
                background: url('../img/team.png') no-repeat left center;
                text-transform: capitalize;
              }
              li.time {
                background: url('../img/bell.png') no-repeat left center;
              }
              li.clock {
                background: url('../img/clock.png') no-repeat left center;
              }
              li.location, li.time, li.clock, li.team {
                background-size: 10px 10px;
                padding-left: 14px;
              }
            }

            div.schedules {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-around;
              align-items: flex-start;
              align-content: center;
              div.schedule {
                flex: 1 1 50%;
                text-align: center;
                div.title {
                  padding: 3px;
                  border-bottom: 1px dashed #ccc;
                  margin-bottom: 5px;
                  text-transform: uppercase;
                  font-size: 11px;
                  line-height: 120%;
                }
                div.image {
                  padding: 3px;
                  margin-top: 5px;
                  img {
                    width: 70%;
                  }
                }
              }
              div.schedule+div.schedule {
                border-left: 1px dashed #ccc;
              }
              div.picker {
                div.title, div.select {
                  text-align: left;
                }
                div.select {
                  padding: 6px 2px;
                }
                div.select+div.select {
                  border-top: 1px dotted #ccc;
                }
              }
            }
          }
        }
      }

      div.float_highlight {
        display: none;
      }


      &.happens_today {
        overflow: hidden;
        div.float_highlight {
          display: block;
          position: absolute;
          top: -0px;
          left: -5px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background-color: #ff3e3e38;
          filter: blur(5px);
        }
      }
      
      &.custom_colour div.wrap div.blocks div.more table {
        border-color: #888;
        tbody td {
          border-color: #888;
        }
        &:not(.no_hover) tbody tr:hover td {
          background: inherit;
          opacity: 0.6;
        }
      }
      &.custom_colour div.wrap div.blocks div.text_block ul.event_metadata {
        border-top: 1px dashed $text_colour;
      }
      &:not(.no_action):hover, &:not(.no_action):focus {
        background-color: #fcfcfc;
        border: 1px solid #ccc;
      }
      &:not(.no_action):active {
        background-color: #f6f6f6;
        border: 1px solid #999;
      }
      &.return_flash {
        border-color: #ed0000 !important;
      }
      &.flashed, &.error {
        div.admin_blocks {
          div.title_block {
            border-color: $text_colour !important;
          }
          a {
            border-color: $text_colour;
          }
        }
      }
      &.flashed, &.error {
        box-shadow: none;
        div.admin_blocks {
          div.detail_block {
            margin: 0 !important;
            padding: 0 !important;
          }
        }
        a, a:hover, a:active {
          border-color: inherit !important;
        }
      }
      &.flashed {
        background-color: #fff;
        color: #181818;
      }
      &.error {
        background: $error_bg_colour;
        border-color: #cc2b2b !important;
        color: #cc2b2b;
      }
    }

    &:not(&.admin), &:not(&.login) {
      li.item {
        @media (min-width: 1000px) {
          box-shadow: 0 1px 2px 1px #efefef;
          margin: 0.5rem;
        }
      }
    }
    &.admin {
      margin-bottom: 3rem;
      li.item {
        margin: 0.5rem;
        border-color: #ccc;
        width: 670px;
        @media(min-width: 1000px) {
          width: 775px;
        }
      }
    }
    &.login li.item {
      // assuming has_art
      div.wrap div.admin_blocks div.detail_block {
        font-size: 14px;
      }
      .form-group label {
        font-size: 13px;
      }
      @media(min-width: 620px) {
        width: 600px;
      }
    }
    &.details {
      li.item {
        width: auto;
        max-width: 720px;
      }
    }
    &.admin, &.login {
      line-height: 115%;
      li.item {
        div.continue {
          margin-bottom: -2px;
        }
        div.form_block {
          input.expr_time, input.expr_date {
            display: inline;
          }
          input.expr_date {
              width: 30%;
              min-width: 130px;
          }
          input.expr_time {
              width: 20%;
              min-width: 60px;
          }

          input#announcement_doc, input#art_img {
            margin-bottom: 5px;
          }

          div#colour_result {
            cursor: pointer;
            height: 30px;
            width: 150px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.2s;
          }
          input[type='color'] {
            width: 100px;
            height: 20px;
            border: 1px solid #181818;
            margin-top: 4px;
          }

          div#formatted_essay {
            background: #fff;
            padding: 5px;
            margin-left: 4px;
            margin-right: 4px;
            border: 1px dashed #aaa;
            h1, h2, h3, h4, h5 {
              font-family: inherit;
              font-weight: bold;
            }
            p+p {
              margin-top: 8px;
            }
          }


          p {
            font-size: 15px;
            @media (max-width: 600px) {
              font-size: 13px;
            }
          }
          p+p {
            margin-top: 2px;
          }

          form.submitting {
            opacity: 0.5;
          }
          table.success {
            background-color: $success_colour !important;
            span.circle_word {
              background-color: transparent;
            }
            &.waiting {
              background-color: #fffdd9 !important;
            }
            &.scheduled {
              background-color: #ffe8e8 !important;
            }
          }
          div.table_controls {
            background-color: #efefef;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            >.previous, >.navnumbers, >.next {
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
            }
            button.previous:disabled, button.next:disabled {
              &:before, &:after {
                opacity: 0.4;
              }
            }
            button.previous:before, button.next:after {
              width: 20px;
              display: inline-block;
              height: 17px;
              background-size: 14px 14px;
              background-repeat: no-repeat;
              background-position: 0% 50%;
              content: "";
            }
            button.previous:before {
              background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23181818%%22%20d%3D%22M49.6%2030H19.3L30%2019.4c.8-.8.8-2%200-2.8-.8-.8-2-.8-2.8%200L11.6%2032l15.7%2015.4c.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6.8-.8.8-2.1%200-2.8L19.3%2034h30.3c1.1%200%202-.9%202-2s-.9-2-2-2z%22%2F%3E%3C%2Fsvg%3E");
            }
            button.next:after {
              background-position: 100% 50%;
              background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%23181818%22%20d%3D%22M36.8%2016.6c-.8-.8-2.1-.8-2.8%200-.8.8-.8%202.1%200%202.8L44.7%2030H14.4c-1.1%200-2%20.9-2%202s.9%202%202%202h30.3L34%2044.6c-.8.8-.8%202%200%202.8.4.4.9.6%201.4.6.5%200%201-.2%201.4-.6L52.4%2032%2036.8%2016.6z%22%2F%3E%3C%2Fsvg%3E");
            }
            .navnumbers {
              font-size: 13px;
              padding: 0 2px;
              .current_page {
                text-align: center;
                border-radius: 9px;
                height: 18px;
                width: 18px;
                background-color: #fff;
                font-weight: bold;
              }
              .page_jumper {
                text-decoration: #333 dotted underline 1px;
                text-decoration-skip-ink: all;
                cursor: pointer;
              }
            }

          }
        }

        input[type='submit'] {
          padding-left: 10px;
          padding-right: 10px;
          font-weight: bold;
        }
      }
    }
  }
}
div#alert_cover, div#superimposition_cover, div#search_cover, div#date_picker_cover {
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 0.5s;
}
div#date_picker_cover {
  &:not(.has_alert) {
    display: none;
  }
  background-color: #d6f3ff;
  background-size: 18px;
}
div#search_cover {
  z-index: 2;
}
div#alert_cover {
  &:not(.has_alert) {
    display: none;
  }
  &.error {
    background-color: $error_bg_colour;
  }
}
div#superimposition_cover {
  &:not(.has_art) {
    display: none;
  }
}
div#alert, div#superimposition {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 6;
  position: fixed;
  top: $header_height + 10px;
  left: 50%;
  border: 1px solid #eee;
  border-radius: 4px;
  max-height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: background 0.2s;
  margin-left: -300px;
  width: 600px;
  div.wrap {
    padding: 40px;
  }
  @media (max-width: 650px) {
    margin-left: -250px;
    width: 500px;
  }
  @media (max-width: 550px) {
    top: 30px;
    margin-left: -200px;
    width: 400px;
  }
  @media (max-width: 450px) {
    margin-left: -175px;
    width: 350px;
  }
  @media (max-width: 375px) {
    margin-left: -140px;
    width: 280px;
  }
  @media (max-width: 370px) {
    width: 290px;
    margin-left: -145px;
  }
}
div#alert {
  &:not(.has_alert) {
    display: none;
  }
  color: #181818;
  border: 1px solid #000;
  background-color: #fff;
  top: 15%;
  font-size: 14px;
  max-height: 70vh;
  div.title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  div.wrap {
    padding: 3% 5%;
  }
  div.body {
    line-height: 120%;
    p.subtitle {
      margin-top: 20px;
    }
    p+p, p+ul {
      padding-top: 10px;
    }
    ul {
      list-style-type: '✓\20';
      margin-left: 15px;
      li {
        margin-left: 15px;
      }
    }
  }
  &.error {
    background-color: $error_bg_colour;
    border-color: #181818;
    color: #181818;
  }
  @media (max-width: 550px) {
    top: 20%;
  }
}
div#superimposition {
  &:not(.has_art) {
    display: none;
  }
  div#img_wrap {
    display: flex;
    align-items: center;
    justify-center: center;
  }
  div#text_wrap {
    margin-top: 1rem;
    line-height: 110%;
    p+p {
      margin-top: 0.75rem;
    }
    @media(max-width: 550px) {
      font-size: 13px;
    }
  }
  img {
    width: 100%;
  }
}
div#close_alert, div#close_superimposition {
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: $header_height / 2;
  right: 10px;
  z-index: 7;
  border: 1px solid #fff;
  height: 38px;
  width: 38px;
  border-radius: 19px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-image: url('../img/cancel_white.svg');
  background-color: #ccc;
  box-shadow: 0 3px 3px 1px rgba(0,0,0,.06);
  transition: box-shadow ease 0.2s;
  &:hover {
    box-shadow: 0 6px 6px 1px rgba(0,0,0,.12);
  }
  @media (max-width: 550px) {
    border-style: solid;
    top: auto;
    right: auto;
    bottom: 10px;
    left: 50%;
    margin-left: -1.5rem;
  }
}
div#close_alert {
  &:not(.has_alert) {
    display: none;
  }
  color: #f5f9ff;
  border-color: #f5f9ff;
  &.error {
    background: none;
    border-color: #181818;
    color: #181818;
  }
}
div#close_superimposition {
  &:not(.has_art) {
    display: none;
  }
}

table#generous {
  width: 100%;
}




footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(rgba(255,255,255,0.5), 50%, #ddd);
  width: 100%;
  height: $footer_height;
  @media(min-width: 1000px) {
    background-image: linear-gradient(rgba(255,255,255,0.5), 50%, #fff);
    &:not(.active) {
      background: none;
    }
  }
  &.active {
    min-height: 250px;
    height: 25%;
    @media(max-width: 850px) {
      height: 35%;
    }
    @media(max-width: 650px) {
      height: 45%;
    }
    @media(max-width: 450px) {
      height: 55%;
    }

    div#menu {
      margin-top: 1.5rem;
      font-size: 13px;
      padding-left: 0.5rem;
      display: block;
      width: 100%;
      color: #000;
    }
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  a.btn_menu {
    display: block;
    text-align: right;
    background: url('../img/menu.png') no-repeat;
    background-color: #fff;
    background-position: 5% 50%;
    background-size: 10px 10px;
    width: 125px;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.06);
    border-radius: 4px !important;
    &:not(.today) {
      width: 95px;
    }
  }
  &.admin {
    a.btn_menu {
      width: 70px;
    }
  }

  div.left, div.right {
    padding: 1rem;
    position: absolute;
    font-size: 13px;
    display: inline-block;
    bottom: 0;
    a.btn {
      font-size: 13px;
    }
  }
  div.left {
    padding-left: 1.5rem;
    left: 0;
    z-index: 1;
  }
  div.right {
    padding-right: 1.5rem;
    right: 0;
    z-index: 0;
    .long_copy {
      display: none;
    }
    @media(min-width: 1000px) {
      &:not(.active) {
        .long_copy {
          display: inline;
        }
        .short_copy {
          display: none;
        }
        padding-right: 1.5rem;
        z-index: 0;
        transform: rotate(-180deg);
        writing-mode: vertical-lr;
        height: 500px;
        display: block;
        bottom: 0;
        right: 0;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}



#blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #68b7d8;
  width: 20vmax;
  z-index: -1;
  animation: move_blob 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move_blob {
  0%   { transform: scale(1)   translate(12px, 80px); }
  12%   { transform: scale(1)   translate(12px, 80px) rotate(359deg); }
  38%  { transform: scale(0.8, 1) translate(70vw, 40vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(70vw, 40vh) rotate(180deg); }
  78%  { transform: scale(1.3) translate(20vw, 25vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(20vw, 25vh) rotate(-40deg); }
  100% { transform: scale(1)   translate(12px, 80px); }
}








@media (min-width: 1250px) {
  article ul#left_feed.today {
    //flex-flow: row wrap;
    //width: 750px;
    //align-items: flex-start;
    //li.item {
    //  margin: 0.3rem;
    //}
  }
}
@media (min-width: 992px) {
  div.cols {
    float: left;
  }
  div.two {
    width: 45%;
  }
  .narrow {
    width: 60%;
  }
}
@media(max-width: 750px) {
  article ul#feed, article ul#left_feed, article ul#events_feed {
    li.item {
      margin: 0.3rem;
      box-shadow: 0 0 1px 1px #eee;
      div.wrap div.back {
        background-color: #ed0000aa;
        border-radius: 0;
        margin: 0;
        position: fixed;
        left: 10px;
        display: block;
        bottom: 150px;
        width: 100px;
        &.organic {
          left: inherit;
          right: 10px;
        }
      }
    }
  }
}
@media(min-width: 1000px) {
  //footer div#filter {
  //  display: none;
  //}
  //footer a#events_filter_trigger {
  //  display: none;
  //}
  //footer div#menu.arts, footer div#menu.athletics {
  //  display: none;
  //}
}
@media(max-width: 1000px) {
  //article div#left_menu {
  //  display: none;
  //}
}
@media(max-width: 715px) {
  article ul#feed.admin li.item {
    width: 600px;
  }
}
@media(max-width: 650px) {
  article ul#feed.admin li.item {
    width: 400px;
  }
  article:not(.no_header) {
    margin-top: $header_height;
  }
  header {
    height: auto;
    background-image: linear-gradient(#eee 70%, rgba(245, 245, 245, 0.5));
    div#nav-header h1 {
      padding-left: 0.8rem;
			font-size: 80%;
      span.app_icon {
        background-size: 10px 10px;
        padding-left: 16px;
      }
    }
    div#nav-wrap {
      padding-left: 0.5rem;
    }
    div#nav-right {
      padding-right: 0.5rem;
      a.deconnexion {
        background-position: right;
      }
    }
    div#nav-wrap, div#nav-right {
      div#account_dropdown {
        right: 9px;
        top: 55px;
        ul li, ul li:first-child {
          font-size: 12px;
          a {
            height: 30px;
            line-height: 30px;
          }
        }
      }
      a, div.dropdown_title {
        padding: 0.8rem 0.4rem 0.8rem 0.4rem;
      }
      font-size: 0.8rem;
    }
  }
  footer {
    a.btn_menu {
      width: 85px;
    }
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }
  .mobile_block {
    display: block !important;
  }
}
@media(max-width: 410px) {
  div#menu {
    font-size: 12px;
    select {
      padding: 2px;
    }
  }
  article ul#left_feed li.item, article ul#feed li.item, article ul#events_feed li.item, article ul#feed.admin li.item {
    width: 350px;
    div.wrap div.blocks div.text_block {
      min-width: 310px;
    }
  }
  footer div.right {
    font-size: 80%;
    opacity: 0.5;
  }
}
@media(max-width: 355px) {
  article ul#left_feed li.item, article ul#feed li.item, article ul#events_feed li.item, article ul#feed.admin li.item {
    width: 310px;
    div.wrap div.blocks div.text_block {
      min-width: 300px;
    }
  }
}
@media(max-width: 319px) {
  article ul#left_feed li.item, article ul#feed li.item, article ul#events_feed li.item, article ul#feed.admin li.item {
    width: 280px;
  }
  footer {
    div.flex_options {
      div.flex_option {
        margin-right: 3px;
      }
    }
  }
}
::selection {
  background-color: $highlight_colour;
  color: $text_colour;
}
::-moz-selection {
  background-color: $highlight_colour;
  color: $text_colour;
}
