{% extends 'login-base.html' %}
{% block content %}
<li class='item no_action has_art recover'>
  <div class='recover art'>
  </div>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>Recover Admin Account</h4>
      </div>
      <div class='detail_block'>
        <p>Please enter the email address associated with your Admin account.</p>
      </div>
      <div class='form_block'>
        <form method='POST'>
          <div class='form-group'>
            <label for='email'>Email address (username):</label>
            {{ form.hidden_tag() }}
            {{ form.email(type='email', placeholder='email (username)', autofocus='', required='', value=email or '') }}
          </div>
          <div class='form-group no_margin'>
            <label for='captcha'>Captcha challenge:</label>
            {{ form.recaptcha() }}
          </div>
          <div class='form-group'>
            <label for='code'>Authorisation code
              <span class='courant'>pre-filled; don&rsquo;t modify</span>:</label>
            {{ form.code(type='text', required='', value=auth_code, class='disabled') }}
          </div>
          <div class='form-group'>
            <input type='submit' value='submit&nbsp;&nbsp;&rarr;' />
          </div>
        </form>
        <div class='art_atrib'>
          Place de la Condore, l&rsquo;Assemblée nationale au arrière-plan &mdash;Andrea <span class='pc'>Mantovani</span>, 2020.
        </div>
      </div>
    </div>
  </div>
</li>
{% endblock %}
