{% extends 'login-base.html' %}
{% block content %}
<li class='item no_action has_art fp'>
  <div class='fp art'>
    <div id='collab_logo'></div>
  </div>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>Forgotten password</h4>
      </div>
      <div class='detail_block'>
        <p>Please enter the email address associated with your account. <em>N.b.&#8239;:</em> volunteers and staff may have to request an account.</p>
        <p>Did you remember the password? <a href='{{ url_for(".login") }}'>Return to login</a>.</p>
      </div>
      <div class='form_block'>
        <form method='POST'>
          <div class='form-group'>
            <label for='email'>Email address (username):</label>
            {{ form.hidden_tag() }}
            {{ form.email(type='email', placeholder='email (username)', autofocus='', required='', value=email or '') }}
          </div>
          <div class='form-group no_margin'>
            <label for='recaptcha'>Captcha challenge:</label>
            {{ form.recaptcha() }}
          </div>
          <div class='form-group'>
            <input type='submit' value='submit&nbsp;&nbsp;&rarr;' />
          </div>
        </form>
        <div class='art_atrib'>
          <span class='pc'>Sharaku</span> &mdash; <em>Shinozuka Uraemon reading the prologue at the Miyako theatre</em>, 1794.
        </div>
      </div>
    </div>
  </div>
</li>
{% endblock %}
