{% extends 'base.html' %}
{% block content %}
<header class='ns'>
  {% include 'admin_header.html' %}
</header>
<article class='no_footer'>
  <div class='wrap'>
    <ul id='feed' class='admin'>
      <li class='item no_action has_art contact'>
        <div class='contact art' id='art_img'>
          <div id='collab_logo'></div>
        </div>
        <div class='wrap'>
          <div class='admin_blocks'>
            <div class='title_block'>
              <h4>Contact the development group</h4>
            </div>
            <div class='detail_block literary'>
              <p><a href='https://vimeo.com/user149524968' target='_blank'>View tutorials</a> covering certain system features.</p>
              <ul>
                <li class='img_prefix phone'><em>Urgent queries (major technical problems)&#8239;:</em> call our mobile, <a class='no_hyphens' href='tel:+33 06 52 70 35 47'>+33 (0)6 52 70 35 47</a>, or message us on WhatsApp.</li>
                <li class='img_prefix email'><em>Non-urgent queries&#8239;:</em> use the form below, message us on <span class='pc'>sms</span> or email <a href='mailto:info@foreword.dev' target='_blank' class='ext no_hyphens'>info@foreword.dev</a>.</li>
              </ul>
            </div>
            <div class='form_block'>
              <form method='post'>
                <div class='form-group'>
                  <label for='message'>Please enter your message, or email the address above.</label>
                  {{ form.hidden_tag() }}
                  {{ form.message(rows=5, class='fixed_rows', placeholder='Nota bene: your Admin account is associated with correspondance.', required='yes') }}
                </div>
                <div class='form-group no_margin'>
                  <input type='submit' value='send' />
                  <button type='button' onclick='toggleMusic(this)'>play on-hold music</button>
                </div>
              </form>
              <div class='art_atrib'>
                Arash <span class='pc'>Khamooshi</span> &mdash; A bus stop in Teheran during the Persian New Year, 2020, <em>The New York Times</em>.
              </div>
            </div>
          </div>
        </div>
      </li>

      <li id='music_item' class='item no_action flashed' style='display: none; width: auto'>
        <div class='wrap'>
          <div class='admin_blocks'>
            <div class='detail_block'>
              <div class='img_prefix equaliser' id='playing_prefix'>
                <p>&nbsp;<em>Playing&#8239;:</em> &lsquo;<span id='music_track'></span>&rsquo;. &mdash; <a id='music_artist' class='ext' target='_blank' href='#'></a>.</p>
              </div>
            </div>
          </div>
        </div>
      </li>



    </ul>
  </div>
</article>

<script>
  var audio, ogBg, ind = 0, playing = false;
  var tracks = [
    ['{{ url_for("static", filename="audio/Miyake-Lilies-in-the-Valley.mp3") }}',
      'Lilies in the Valley',
      'Jun Miyake',
      'https://fr.wikipedia.org/wiki/Jun_Miyake'
    ], ['{{ url_for("static", filename="audio/Gainsbourg-L-anamour.mp3") }}',
      'L\'anamour',
      'Serge Gainsbourg',
      'https://fr.wikipedia.org/wiki/Serge_Gainsbourg'
    ]
  ];

function setLabels() {
  if (playing) {
    var pp = document.getElementById('playing_prefix');
    pp.classList.add('equaliser');
    pp.classList.remove('play');
    document.getElementById('music_item').style.display = 'flex';
    var musicArtist = document.getElementById('music_artist');
    musicArtist.href = tracks[ind][3];
    musicArtist.innerHTML = tracks[ind][2];

    document.getElementById('music_track').innerHTML = tracks[ind][1];
  } else {
    document.getElementById('music_item').style.display = 'none';
  }
}

function toggleMusic(e) {
  if (!playing) {
    if (audio === undefined) {
      audio = new Audio(tracks[ind][0]);
      audio.onended = function() {
        next();
      }
    }
    audio.play();
    e.innerHTML = 'pause on-hold music';
    playing = true;
    setLabels();
  } else {
    e.innerHTML = 'resume on-hold music';
    audio.pause();
    playing = false;
    var pp = document.getElementById('playing_prefix');
    pp.classList.remove('equaliser');
    pp.classList.add('play');
  }
}

function next() {
  ind = (ind + 1) % (tracks.length);
  audio.src = tracks[ind][0];
  audio.play();
  setLabels();
}


</script>
{% endblock %}
