<!doctype html>
{% if angular is defined %}
<html ng-app='{{ angular }}' lang='en' dir='ltr'>
  <base href='{{ base }}' />
{% else %}
<html lang='en' dir='ltr'>
{% endif %}
  <title>{{ title }} &mdash; {{ lab_name }} &middot; Foreword Development</title>

  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='HandheldFriendly' content='True' />
  <meta name='msapplication-TileColor' content='#68b7d8' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='theme-color' content='#68b7d8' />
  <meta name='author' content='https://foreword.dev'>


  <link rel='shortcut icon' type='image/ico' href='{{ url_for("static", filename="img/pfd.ico") }}' />
  <link rel='apple-touch-icon' sizes="57x57" href='{{ url_for("static", filename="img/pfd-57.png") }}' />
  <link rel='apple-touch-icon' sizes='60x60' href='{{ url_for("static", filename="img/pfd-60.png") }}' />
  <link rel='apple-touch-icon' sizes='72x72' href='{{ url_for("static", filename="img/pfd-72.png") }}' />
  <link rel='apple-touch-icon' sizes='76x76' href='{{ url_for("static", filename="img/pfd-76.png") }}' />
  <link rel='apple-touch-icon' sizes='114x114' href='{{ url_for("static", filename="img/pfd-114.png") }}' />
  <link rel='apple-touch-icon' sizes='120x120' href='{{ url_for("static", filename="img/pfd-120.png") }}' />
  <link rel='apple-touch-icon' sizes='144x144' href='{{ url_for("static", filename="img/pfd-144.png") }}' />
  <link rel='apple-touch-icon' sizes='152x152' href='{{ url_for("static", filename="img/pfd-152.png") }}' />
  <link rel='apple-touch-icon' sizes='180x180' href='{{ url_for("static", filename="img/pfd-180.png") }}' />
  <link rel='icon' type='image/png' sizes='192x192' href='{{ url_for("static", filename="img/pfd-192.png") }}' />
  <link rel='icon' type='image/png' sizes='32x32' href='{{ url_for("static", filename="img/pfd-32.png") }}' />
  <link rel='icon' type='image/png' sizes='96x96' href='{{ url_for("static", filename="img/pfd-92.png") }}' />
  <link rel='icon' type='image/png' sizes='16x16' href='{{ url_for("static", filename="img/pfd-16.png") }}' />

  <link rel='canonical' href='https://foreword.dev' />
  <link rel='stylesheet' href='{{ css }}' />

  {% if angular is defined %}
  <body ng-class='{ no_scroll : $root.show_elig }'>
  {% else %}
  <body>
  {% endif %}

  {% block content %}
  {% endblock %}
  <div id='dropdown_cover' onclick='toggleDropdown("account_dropdown")' title='close menu'></div>
  <script src='{{ url_for("static", filename="js/dropdown.js") }}'></script>
  {% if angular is defined %}
  <script src='{{ url_for("static", filename="js/angular.min.js") }}'></script>
  <script src='{{ url_for("static", filename="js/angular-route.min.js") }}'></script>
  <script src='{{ url_for("static", filename="js/angular-sanitize.min.js") }}'></script>
  <script src='{{ url_for("static", filename="js/angular-cookies.min.js") }}'></script>
  <script src='{{ url_for("static", filename="js/angular-locale_en-gb.js") }}'></script>
  <script src='{{ url_for("static", filename="js/loading-bar.min.js") }}'></script>
  <script src='{{ url_for("static", filename="js/dygraphs.min.js") }}'></script>
  {% for j in js %}
  <script src='{{ j }}'></script>
  {% endfor %}
  {% endif %}
  </body>

</html>
