<!doctype html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='minimal-ui, width=device-width, initial-scale=1, maximum-scale=1' />
    <title>{{ title }}</title>
    <style>
html {
  font-variant-ligatures: common-ligatures;
  -webkit-text-size-adjust: 100%;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  font-kerning: normal;
  word-wrap: break-word;
}
body {
  font-family: 'Avenir', 'Futura', sans-serif;
  color: #181818;
}
footer {
  border-top: 2px solid #ed0000;
  margin: 5em 0 .5em 0;
  width: 95%;
  color: #999;
  font-size: 12px;
  text-align: center;
  background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5AwcEygRt7NlYwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMSURBVAjXY3j//j0ABZ4Czj8oCJsAAAAASUVORK5CYII=');
  padding-bottom: 10px;
}
footer p {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 135%;
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #ccc;
}
footer a {
  border-bottom: none;
  padding-bottom: 5px;
}
div.block_a_code {
  width: 95%;
  margin: 1em 0 .5em 0;
  text-align: center;
}
div.block_a_code >p {
  font-size: 15px;
}
div.a_code {
  border: 1px dashed #777;
  background: #fff49b;
  border-radius: 3px;
  font-family: 'Courier', monospace;
  font-weight: 700;
  font-size: 20px;
  display: inline;
  padding: 5px;
  margin: 5px;
  white-space: nowrap;
}
div.a_code a {
  text-decoration: none;
  border-bottom: none;
  font-size: 15px;
  font-family: 'Avenir', 'Futura', sans-serif;
}
img {
  width: 75.75px;
  height: 8.25px;
  margin: auto;
}
a.aimg {
  text-decoration: none;
  color: inherit;
}
    </style>
  </head>
  <body>
    <div>
      {{ body|safe }}
    </div>
    <footer>
      <p>This message was sent from an unmonitored address; please don&rsquo;t reply. Rather, contact info@foreword.dev if this message is erroneous. <em>N.b.&#8239;:</em> the development group will never ask for a password by email nor send a link that subsequently asks for identification information that isn&rsquo;t provided in the email itself. Please verify the domain name of any links is related to your institution or ends in &lsquo;foreword.dev&rsquo;.</p>
      <a class='aimg' href='https://foreword.dev'><img alt='visit foreword.dev'
         rel='Foreword Development'
         src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAS8AAAAhCAYAAACIoy0cAAAACXBIWXMAAAqtAAAKrQH9qQyoAAAA
      GXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAEdRJREFUeJzdnXmUHUUVh7/3ZrIM
      WUFFQggJwaCCIEZEhEAIDLhFQBFlE5BN1KMeFiOiEEBxQ0ERD4sLqKCCgiDBoOxgCIKAgQgixLBE
      yDJvJgnZl9f+cV/7+nXq3q7q7jc5x985dWbOq65b3dXVt+5aVSEAEXT0wZERHA+MA14PjARWAKsr
      MHsDnLU1PB9CtwCmAKOA9cBrwAZgLbDKo+2WwFBgCHA3sDDnPewIvBfYC3gzMDZBt7dR+oB5wEPA
      X4AngY05+wOYCGwDLEr9PhQYkPg7HOgAlgIRsBiYDywA6gH9HYS86w3A8sa9rwFWZ7SrIPNjaKPc
      AfQ06g5B3lNfqs3WjXv7U8D9xRgF7I48J8AwZPyfzEFrAvAW4FVkDKvA7EAaw5G5sQ+wKzAeGIHM
      vZU058erwF+BWcDDyFzOizcCezdork/8PgjYIvG3CxjcuI91yDc8v1HWBvZ5BPL9pL+7eB7GcxJk
      PkTAskafK5H5+AJhc9IPvbBPDS6twYIaRBmlrwZfq8He82Vw2omrkYEoWnYJ7HcQcCLwaM7+eoDL
      kY8jD6bn7Dcui4ArgTd59nddwf7iMi5B85fGdUsQxheKcxy0bsxBB+CSFJ3PB7SdBPwWYe6hY7Qe
      mAEcSr4xmJijz2RZDdwGvC+gzyUF+4wQxvcYcC1wAvCG0AdvQR9MrsEsD4alldW98IsajCl0IzrS
      Eyxv2Tqgz6OBlwxazwK3IB/NA8DLxrUbkY94m8DnPrOk514HfNqjvytL6m9oguZHMq59W8B4xHjM
      QWcx+ZjAUwkaGxCJJgu7AH923ENcehr1NwIzgbnIHNCunwPsF3jfOxn0QssNyEKdhRdK7DM5N28G
      9gh6+ggG1eDHNagXYFzJsqwX9g26CT9cSDkDtZ1HX1shTEljQlcjE8eFvYCfok/UGvBB34cGPmU8
      y3PAwYgofwrwTeAfxvURcFJGf9/NaO9btkrQHIItmfgw1SR2MGjtHkhrFKLCxO2zVNgKcAaiSrv6
      fwSRZDocbUcD09Cllzoy/p2e9z5aoROXo5CF4wTgS4gqXzeuv8Wjz7lG+58AJyPz8f1ANzIWxwEX
      AE9k3G8d+baGZd7FUtiyBveXxLSSZWkfvMNjIEIwzXjoRxHRczyyiu9F60d9FvB1RH0bm9HPOOCf
      Sj89yEvxwbsRyUxjgKd50jlWoREBf3Nc3wGcb7RZji0dW23vRyTX8Yhd5z00x/lU4IvARcCPEKaQ
      xAyD7q+zBiGFswxa5wbS+kSq/SeNazuRhUn78L6NH+N5HfAr4xlm4GeGGWHQiIBtHW0OQOaA1ua4
      jD4fNtoe4HHPb0MkUeu+n8QSMvpgbA2ebgPjimoQ9cDiWrh9ycJnjYe9q6Q+RgP/VvpYCrw1kN62
      wL8UenXgGA8ahyntI8Twq8GaIBcZ7b5otPuDx/1qsCTI/wTS+qtB65FAWkkmshYxsLtQBX5h9PuF
      wH4riKSi0buZbBW402gfoau/nzHaZDk87jLaTs5om8SJiIqu0foHrnexEIbU4Kl2Ma5EeWVhmI3J
      wgnGg/qIu1kYhEgyLvob8Ze40piAeFlcdFcBO2e0P0hpGyEeTQ0fM9r902hnTexfZdyrhdHYKouv
      Q2GHDDp13BKHC52IGu/DnM81+vypZ39pVBFbqUZ3mgcNSx3XDOHDsBmHZhIBuNVoF8K8QCR2613+
      b75VkV8qA2Sw8xhJQzFqIFxVEq31Rt2KEuhfBLxTqbsekWTy4DlEFXOhCxkfa4W1ntsKwXjcqBtr
      9LnOaFdknP+DGNk17O9J5wjs8aog3jsfvIdW29xvjOumK3VLgNM9+0ujjpg11ij15yPhORbyzI/X
      EI1Aw7ic/YXit8APjfqjaMyLKkANzgY+XuINmIjgsF6x2xTFBqNuZUHau6GL/WsIt6OkcRnNmKc0
      JgEfMNpaz23FytSMusHoNhWLIRYd59uMuimeND7mcc3hnrSS474at+TVgXhgXQZ4gK8hNqS8eBZZ
      HF3oAs7LaG/ND+tdavMRJD4rD808OBt4xag/F6Bag+0qYvXvV0TwgyU+HgQb1kvSVi5fTEc3tN4K
      vFiQ/lokpkXDWUadNVmsOiv40Ao6tcY5NKAxjRlGnQ/zehOt0rH23icjgbZZSDKvP+KWLD+KLG4u
      rCC/ypjE1Ubd0dhqcDvmRzqY2JdmHqwGrjDqpwDjqhUZiAEld+6DrSrZXowslD1oMcYiRnENN5TU
      jxVAORnx4LmQd2W1Vs+5OWlGRp0PnkA3zo8iO5A3KXU9hv5uOslWHcfQypS092MZ4mfgl+GRhUeQ
      aHcXOrE1l/6eH1Z/eRE7LlyoAO+v1uHtbejYCxUxBBdBOwYNRK+uKnVryG/rSuPv6NJOBV11zLuy
      Wo6AO4y6do0zyAQtIn0lzR3XY4dYZKmOUxP/r1Tua0ck7EbD7zP6CIGVjjTVqMszPzqQ9DYX5iDp
      Rnn6y4uFwNNG/d7VisSFbC7s3BfujUiiXZLXQUbd0xRXSWOsxzaia4G9eW1eGjNchdhwNLRrnGPk
      ZV670JSUNiLG9bsRg7kL3bQa49NIMgRNgurGdg5Y7zMUVojHnujR73nmx77oZpxLDHrQvvnxgFG3
      UxU9hqVfUC+mOuYdtGE0Ayt3p9XwWkGCSTXMydmnBsswqcWQ5VlZx6BH0p+JHVeVd5yHI3FF45EA
      Ze2jvxtd1ZqCLgUfmfj/XkQ62AD8Trl+ALrqOITWgEpNZbTmxmtITGBZsN7JIHSzQuj8qKI7AW5H
      UtgstIt5aWozwPZVst2u7UY70oZAdr6Y1yg1JHs/jq1ajiQnzwMepHU12haZyBrKnJxgG0LH5aDn
      mkjbIXFvw1O/15EUEUvqysJpNMc53iUhHudliPg/D0mx0WwYqxEG5sLr0TMzkszrusT/WngDSFiF
      C900va0r0E0DEwzaL1DuzgjW3IDw+RHHTyUxAMl+cEm4M2nGBlooavfUYHnHh3UiaQmbE+2S/Ebg
      pxK/SuvgZ2WzF3GBu2BtfzIUWRVDPoguRDXaiuZ2PSexKeOag+yUYInmPhiJbeiNYUmYIJ69Dyl1
      3WwaD/YumkGsq2i1Nf0F2WbFlU4Sq469qd/TKqNmi7TmR3/ODdj0nWahjkjCA5FFehKy+KSDgXuQ
      cI/Lacc2Nf5YZtQN7kTEbN+kz3bg1s3YN8iLTKIr4/qyJ6gl5VUQaSDEe3Uw+oq1EfgZEggYp3T0
      F9LjnMYfjbpuJEcwiaMS/99K63upI2rfGQ5asep4TeK3Cq2J8ZraCfb86M+5AdlzNY1O7H3r7kVU
      xBsox2NaFFsYdWs72byclUp43pkvZgI30bRnxZuwDaYplcUb5cVMHLLjlvJsr2LBklrqhDsH+mhu
      OpdGB8Ik7gykaeEWxC4S26UGIx9VF81xHtH4vYLOMF9CtqHZ1VE3qUEvloaqtIZIuGwyv8HNvEBU
      xyTz2oNm0vhKbG+ylW3Qn3MDwgOEI8SZoaXnzad1XDY3LM1peSfyMiwO11ZE7WOez5EvWDBrQoSK
      6lmwJmiN8PG5B0nz+LJS/31kT6myVta5SExOGbgdN/MajDCwmOnui+RFgtguXcz4UWRHX1d+ZFp1
      TKqMt2OPjZUO1Z9zA+yIeBfWI/GLs3Az2k8i34yVH9ufsJjXi9WKGFP/H5F3FVyArU6VHVoyzqiz
      cs0sfBNdPRgLfDUnXRfKjAGzVMdk+ErSUP9r4x60gNW01zFpa7NURpD5oaFs5jUuoz7P/JiN7tCo
      IMZ7Le1JQ9kSZwzNmwrwTDWyI2fbjih89UhCc6Fn1VlYiR2QV2x72laMRA8MBNknyQVrcnUghl6L
      QZ2Z0W8a1liW6SafzaaG9BgHN/4OQNJzYlhufMvrGAesjqG5WeEqbAYK9vkMZe2WEsMKy3gZPZRC
      mx/x72ejOyR2R7aaCkHeby0LE426B6tIqMDmwsaB4hnKC8vRUMQJoTENsAc0FHtir1pa1LvFvOLn
      vgaJ4HdhIOJJ8kV/OXQ2oNvjdkO2y+6mmaP4DHZQ6Fz0KO0DEYP4VJrvYCbZZgNrbmyN3668Pqgg
      80ODlRFhMa8KYl+0Ak8vJGxr8lBJzQeD0DNCNgJ3VAeIwXVzeRYeGl5M8sqSQPJCizkCiTkqKxfU
      OuRgAeL9ccFiJvFz17G3ZenGfyeRdkxODdpHWUFUx6TKaElWMW5Wfh+MMLAQlRHgPmxp810eNHyw
      F3YYkSVx+syPb6FrGCOAiw0aIf3lxVR0D/U9wCvV4VCrbCYPQ6X4vl7tkrxuRPcqdSFHSxXFQGS7
      YQ2XY+ehaUg+933YuXbfw29nD2ssy7Z3WMGsh9CaMF+EeYEwwjg4cw1irM+C5iCI0e1BwwcnGnWP
      YWssPov6CuArxnXH4J+6147FzTpX4RJo6KpVmcTtTL51Yf6WxXdnaJfk1YOd4HtKAdoxDkffomUh
      YjjV4LOyxpiGzohHo2+KaNFMIit+KxSvoqdgfZSmUfxx/AzWT6CnmRxFM6r+DvzPS7zMqDuG4t77
      kdhS8XnYTiXfRf3n6Gp3bLz3eb9lM69dado405hF40CUKsBImB8JA+tPfKNSnGG2S/ICiTDWYqwO
      x39bYReGIB5BDadju+R9JS8QA7O1M+UXsG0rLppJlM28wLbnxAg5oMOSvmLcFEBvJrrkM4LiWz1d
      hC4R/55sp4Lvol5Hj4UDSXw/J6MvKFdt7EQCqV3PsA74HGnGHcHAGjzaD3vYRzWYE5VjNzoOfa/r
      vIeNJuE6xNRnb/MsXGrQvdaj/YFG+1mO60ci5xdqbeZin893mtH2Uo/7DcVko78I+ehCzgLdJ4Pe
      GsJDYHZGP+qsl/yL2yT0I/JexG9DxVVK+wh3OuBNxvVr0TdejKEdCRgRtmtMBfss1jPVlr2wfQ0W
      tZlxLVlsJ7eG4NPGg/rYL7IQR6RrfVi7nWo43aB3H34pH4cYNDQPozVWESJparAOubXU27wYgOS1
      aX2Geqg7EFOARi/v/mwnGzTvITu9J43djPvsw+/8yTgXVrsvF9PfEZ0RR8ghNJZ0dafR1pd5xVtr
      a3Sy7eM12LkGL7eJcS1dEnoCrg3rSK77S+pjOPKxaP18Cz/VqQvJz9Mm1l34BzkebdyPFofUiX04
      6Dr03RumG+1+nLp2COIlG4t4zD6ERG6fg9+p0zGs1Tz0SDEQNVOj53tepgtfNejOxl9C/DC6dLyI
      bNU+xjDjfiL0bZa+k9FOy9gAeU6tnc9W3lMQO6dG4zJ8Y8lqMKYX7i2Zcc3rdad+FMEFxgOndyEo
      gqHILp1aX/9GziB0qQqjED39eaVtHVG9QtToU417sRJvDzbaRYhx23UfFxtt1iLnV1p04+Kj8sTQ
      jlvbSL5YquMVenWaqUZ5cRK6qrYKGb+JbOqZHYx4T29X2kZIXNkOAfeyrUErQmeCIxAmqbVbgx53
      9ZTR7vPIdz8+UfZAQiG+kdF2OfLewhDJ4Rwn98DzBZnWqhpcuczewTIvvof+4M+2ob8jkAA/rc86
      sqfTQ4jtaQG6/SJmFvvnuI8zDJpZR5FZp1RHuE9FuiKjjW8J8cJNUGjkDWreBrfUW9bGAG+mGeah
      lR5EwrgPOSfTOl+xF3nPocbwnTLuwTrB2rJtRoiE5TKkz89oF1rWIhJ9+oT1METQ0QvH1uCZAIa1
      vgY31uCIxSK1tAtXoQ9A6InLvhiExODMxrYtaGUDoiIeSv60iukG/XoG3bcgKqI1cdLnd/4yx3O6
      Sujeca6TyvOojDEed9CzYp3yYB8k/kw7VDirPIeYQ3z2SHNhYgb9Q4y2Hcjp2FZ7l9F8Sc5nTZb1
      yDc1DU9nh3eAYQSVXnh3BIdWYGIFxkdi2+hABvoVJF3jgQ64fmT/JHzvj55r2EmYOz0PRiNi+MRG
      2Q4Zi3gbmOWN8gJib5qNrM6LCva7J5K0GznqupBTha0wlKmIFORqD6J6JtPG9iPMXuXCcMTNr+Uu
      unAArQxvCKJiaXvUZ2ESrav5FshC0o6FbggSbT8ROZptAqJ9xJs3rkOk5JcRk8LDSEaF5nDxxRuR
      QFlXbF8nImla3+auiONAiw2ssml85jHG9UmkMwbWIY6ZlxBJNGiLn/8CZwDbk8ftDdUAAAAASUVO
      RK5CYII=" /></a>
    </footer>
  </body>
</html>
