{% extends 'base.html' %}
{% block content %}
<header class='ns'>
  {% include 'admin_header.html' %}
</header>
<article class='no_footer'>
  <div class='wrap'>
    <ul id='feed' class='admin'>
      <li class='item no_action'>
        <div class='wrap'>
          <div class='admin_blocks'>
            <div class='title_block'>
              <h4>Export records</h4>
            </div>
            <div class='detail_block'>
              <p>You may export records here. <em>N.b.&#8239;:</em> To export a vaccination schedule for a particular day, please visit <a href='{{ url_for(".index") }}'>Lists</a>&nbsp;› <em>Scheduled for vaccination</em> (<a href='https://vimeo.com/user149524968' target='_blank' class='ext'>watch a tutorial</a>). The downloads below are generated live and contain the most recent information.</p>
            </div>
            <div class='form_block'>
              <div class='flex_options form-group special-group no_margin'>
                <div class='flex_option auto_width btn_option'>
                  <a class='btn img_prefix download' target='_blank' href='{{ url_for(".export_all") }}'>export all people as <span class='tpc'>CSV</span></a>
                </div>
                <div class='flex_option auto_width btn_option'>
                  <a class='btn img_prefix download' target='_blank' href='{{ url_for(".pdf_schedule", patients=1) }}'>export clinic patients as <span class='tpc'>PDF</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</article>

{% endblock %}
