{% extends 'login-base.html' %}
{% block content %}
<li class='item no_action has_art login{{ art[0] }}'>
  <div class='login{{ art[0] }} art'>
    <div id='collab_logo'></div>
  </div>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>Covid-19 vaccination at {{ lab_name }}</h4>
      </div>
      <div class='detail_block'>
        <p>This system is used by staff and volunteers (not patients) to schedule Covid-19 vaccinations at {{ lab_full_name }} in {{ lab_location }}. It is <a href='https://framagit.org/gdyer/vaccination-scheduler' target='_blank' class='ext'>open source</a>.</p>
        <p>You may reset your password if you&rsquo;ve <a href='{{ url_for(".forgot_password")}}'>forgotten it</a>.</p>
      </div>
      <div class='form_block'>
        <form method='POST'>
          <div class='form-group'>
            <label for='email'>Email address (username):</label>
            {{ form.hidden_tag() }}
            {% if email %}
            {{ form.email(value=email, type='email', placeholder='email (username)', required='') }}
            {% else %}
            {{ form.email(type='email', placeholder='email (username)', required='', autofocus='') }}
            {% endif %}
          </div>
          <div class='form-group'>
            <label for='password'>Password:</label>
            {% if email %}
            {{ form.password(type='password', placeholder='password', required='', autofocus='') }}
            {% else %}
            {{ form.password(type='password', placeholder='password', required='') }}
            {% endif %}
          </div>
          <div class='form-group'>
            <input type='submit' value='log in&nbsp;&nbsp;&rarr;' />
          </div>
        </form>
        <div class='art_atrib'>
          {{ art[1]|safe }} 
        </div>
      </div>
    </div>
  </div>
</li>
{% endblock %}
