<!doctype html>
{% if angular is defined %}
<html ng-app='{{ angular }}' lang='en' dir='ltr'>
  <base href='{{ base }}' />
  {% else %}
  <html lang='en' dir='ltr'>
    {% endif %}
    <title>{{ title }} &mdash; Covid-19 vaccination scheduling &mdash; {{ lab_name }} &middot; Foreword Development</title>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta name='HandheldFriendly' content='True' />
  <meta name='msapplication-TileColor' content='#68b7d8'>
  <meta name='theme-color' content='#68b7d8' />
  <meta name='author' content='https://foreword.dev'>

  <link rel='shortcut icon' type='image/ico' href='{{ url_for("static", filename="img/pfd.ico") }}' />
  <link rel='apple-touch-icon' sizes="57x57" href='{{ url_for("static", filename="img/pfd-57.png") }}' />
  <link rel='apple-touch-icon' sizes='60x60' href='{{ url_for("static", filename="img/pfd-60.png") }}' />
  <link rel='apple-touch-icon' sizes='72x72' href='{{ url_for("static", filename="img/pfd-72.png") }}' />
  <link rel='apple-touch-icon' sizes='76x76' href='{{ url_for("static", filename="img/pfd-76.png") }}' />
  <link rel='apple-touch-icon' sizes='114x114' href='{{ url_for("static", filename="img/pfd-114.png") }}' />
  <link rel='apple-touch-icon' sizes='120x120' href='{{ url_for("static", filename="img/pfd-120.png") }}' />
  <link rel='apple-touch-icon' sizes='144x144' href='{{ url_for("static", filename="img/pfd-144.png") }}' />
  <link rel='apple-touch-icon' sizes='152x152' href='{{ url_for("static", filename="img/pfd-152.png") }}' />
  <link rel='apple-touch-icon' sizes='180x180' href='{{ url_for("static", filename="img/pfd-180.png") }}' />
  <link rel='icon' type='image/png' sizes='192x192' href='{{ url_for("static", filename="img/pfd-192.png") }}' />
  <link rel='icon' type='image/png' sizes='32x32' href='{{ url_for("static", filename="img/pfd-32.png") }}' />
  <link rel='icon' type='image/png' sizes='96x96' href='{{ url_for("static", filename="img/pfd-92.png") }}' />
  <link rel='icon' type='image/png' sizes='16x16' href='{{ url_for("static", filename="img/pfd-16.png") }}' />

  <link rel='stylesheet' href='{{ css }}' />

  <body>
    <header class='ns'>
      {% include 'admin_header.html' %}
    </header>
    <article class='no_footer'>
      <div class='wrap'>
        {% if wide %}
        <ul id='feed' class='admin'>
        {% else %}
        <ul id='feed' class='login'>
        {% endif %}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <li class='item no_action flashed'>
            <div class='wrap'>
              <div class='admin_blocks'>
                <div class='detail_block'>
                  {{ message|safe }}
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {% if form and form.errors %}
          <li class='item no_action error'>
            <div class='wrap'>
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
              <div class='admin_blocks'>
                <div class='detail_block'>
                  {% if form.errors|length > 1 %}
                  {{ form[field_name].label }}:
                  {% endif %}
                  {{ error|safe }}
                </div>
              </div>
              {% endfor %} 
              {% endfor %}
            </div>
          </li>
          {% endif %}

          {% block content %}{% endblock %}
        </ul>
      </div>
    </article>
    {% if not user is defined and not request.cookies.get('rgpd') %}
    <div id='rgpd_accord' class='site_alert'>
      <div class='title'>Foreword Development uses few cookies.</div>
      <div class='close ns' onclick='document.getElementById("rgpd_accord").style.display="none"'>
        &times;
      </div>
      <div class='body'>
        We use cookies to save preferences and for authentication. Your continued use of the application tells us this is admissable. You may consult our <a target='_blank' class='ext' href='https://foreword.dev/privacy'>privacy policy</a>.
      </div>
    </div>
    {% endif %}


    <div id='dropdown_cover' onclick='toggleDropdown("account_dropdown")' title='close menu'></div>
    <script src='{{ url_for("static", filename="js/dropdown.js") }}'></script>
  </body>
</html>
