{% extends 'login-base.html' %}
{% block content %}
<li class='item no_action'>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>Create a new admin user</h4>
      </div>
      <div class='detail_block'>
        Enter the new administrator&rsquo;s email address below. They&rsquo;ll be notified automatically with secure access information. Please note that submission of this form might take a few seconds, as we must verify that we were able to email the new user. (A timeout will impose itself after one minute.) <a href='{{ url_for(".control_admins") }}'>Control existing users</a>.
      </div>
      <div class='form_block'>
        <form method='POST'>
          {{ form.hidden_tag() }}
          <div class='form-group'>
            <label for='password'>For security, please re&euml;nter your password:</label>
            {{ form.password(type='password', placeholder='your password', autofocus='', required='') }}
          </div>
          <div class='form-group'>
            <label for='email'>New user&rsquo;s email address (username):</label>
            {{ form.email(value=email or '', type='email', placeholder='new user’s email address', required='') }}
          </div>
          <div class='form-group'>
            <label for='name'>New user&rsquo;s full name:</label>
            {{ form.name(type='text', placeholder='given name then family name', required='') }}
          </div>
          <div class='form-group special-group'>
            <label class='inline_label' for='level'><strong>Privilege to create and delete admins</strong> <span class='courant'>default is &lsquo;no&rsquo;, unticked</span></label>
            {{ form.level() }}
          </div>
          <div class='form-group no_margin'>
            <input type='submit' value='create new user&nbsp;&nbsp;&rarr;' />
          </div>
        </form>
      </div>
    </div>
  </div>
</li>
{% endblock %}
